:root {
  --typeface-main: "Space Grotesk", sans-serif;
  --typeface-display: "JetBrains Mono", monospace;

  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800; /* Only for display typeface */

  --font-size-xsmall: 0.75rem; /* 12px */
  --font-size-small: 0.875rem; /* 14px */
  --font-size-main: 1rem; /* 16px */
  --font-size-large: 1.5rem; /* 24px */
  --font-size-xlarge: 2rem; /* 32px */

  --line-height-main: 1.375;
  --line-height-display: 1.25;

  --letter-spacing: -0.06rem;

  --spacing-xsmall: 0.625rem; /* 10px */
  --spacing-small: 0.75rem; /* 12px */
  --spacing-main: 1rem; /* 16px */
  --spacing-large: 1.125rem; /* 18px -> 22px */
  --spacing-xlarge: 1.5rem; /* 24px -> 44px */
  --spacing-2xlarge: 2rem; /* 32px */
  --spacing-3xlarge: 3rem; /* 48px */

  --colour-black: #111111;
  --colour-grey: #f2f2f2;
  --colour-bright-orange: #fd530d;
  --colour-dark-orange: #e22f00; /* Accessible option */
  --colour-yellow: #ffb33a;
  --colour-green: #1a944f;
  --colour-blue: #487ea3;
  --colour-off-white: #fffaf7;
  --colour-white: #fff;

  --colour-body-text-dark: var(--colour-black);
  --colour-body-text-light: var(--colour-white);
  --colour-link: var(--colour-dark-orange);
  --colour-link-hover: var(--colour-bright-orange);
  --colour-link-visited: var(--colour-dark-orange);

  --colour-border: var(--colour-bright-orange);

  --colour-button-text: var(--colour-white);
  --colour-button-background: var(--colour-dark-orange);
  --colour-button-hover: var(--colour-button-text);
  --colour-button-background-hover: var(--colour-black);

  --colour-button-text--secondary: var(--colour-black);
  --colour-button-background--secondary: var(--colour-white);

  --subtle-shadow: 1px solid #1c2230;
  --drop-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  --accent-border-width: 8px;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: var(--typeface-main);
  font-weight: var(--font-weight-normal);

  line-height: var(--line-height-main);

  color: var(--colour-body-text-dark);
  background-color: var(--colour-grey);

  color-scheme: light dark;

  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;

  -webkit-font-smoothing: antialiased;
}

.grid-bg::after {
  content: "";
  display: block;
  width: 120%;
  height: 110%;
  position: absolute;
  /* background: repeat url("/assets/images/grid-tile.jpg"); */
  transform: rotate(-7deg);
  top: -5%;
  left: -10%;
  z-index: -1;
}

.page-content-clear-footer {
  flex: 1 0 auto;
  position: relative;
  overflow: hidden;
}

.grid-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/* ============== Typography ============== */

/* ----------------- Headings ----------------- */

h1,
h2,
.page-heading {
  font-family: var(--typeface-display);
  line-height: var(--line-height-display);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing);
}

h1 {
  font-size: var(--font-size-large);
}

h2 {
  font-size: var(--font-size-main);
}

h3 {
  font-size: var(--font-size-main);
  margin-top: 0;
  font-weight: var(--font-weight-bold);
}

h4 {
  margin-top: 0;
}

@media screen and (min-width: 520px) {
  h1 {
    font-size: var(--font-size-xlarge);
  }

  h2 {
    font-size: var(--font-size-large);
  }

  h3 {
    font-size: var(--font-size-main);
  }
}

/* ----------------- GENERAL p, blockquotes & a ----------------- */

p,
td,
caption {
  margin: 0 0 1em;
  font-size: var(--font-size-main);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

q {
  display: block;
  padding: var(--spacing-2xlarge);
  font-family: var(--typeface-display);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-large);
}

q::before,
q::after {
  display: none;
}

code {
  background-color: #fff;
  color: var(--colour-grey);
  padding: 4px;
}

a {
  color: var(--colour-link);
  text-decoration: none; /* This is not an accessible practice. Doing this under protest */
}

a:visited {
  color: var(--colour-link-visited);
}

a:hover,
a:visited:hover {
  text-decoration: underline;
  color: var(--colour-link-hover);
}

/* -------------- Lists -------------- */

dl,
menu,
ol,
ul {
  margin: 0 0 var(--spacing-xlarge);
}

menu,
ol,
ul {
  padding-left: var(--spacing-2xlarge);
}

li {
  font-size: var(--font-size-main);
  margin: 0 0 0.5rem;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* -------------- Tables -------------- */

caption {
  text-align: left;
}

td,
th {
  text-align: start;
  vertical-align: top;
  padding: 0.5rem var(--spacing-xlarge);
}

.table thead {
  background-color: var(--colour-dark-orange);
  color: var(--colour-white);
}

.table-date-cell {
  min-width: 90px;
}

tbody tr:nth-child(odd) {
  background: var(--colour-white);
}

tbody tr:nth-child(even) {
  background: var(--colour-grey);
}

.table-notes {
  font-size: var(--font-size-small);
  margin-top: var(--spacing-xsmall);
  font-weight: normal;
}

/* ============== Forms ============== */

.button,
a.button {
  font-weight: var(--font-weight-bold);
  background: var(--colour-button-background);
  border: 1px solid transparent;
  color: var(--colour-button-text);
  display: inline-block;
  padding: var(--spacing-xsmall);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  box-shadow: var(--drop-shadow);
}

.button--secondary,
a.button--secondary {
  color: var(--colour-button-text--secondary);
  background: var(--colour-button-background--secondary);
}

.button:hover,
a.button:hover {
  background: var(--colour-button-background-hover);
  color: var(--colour-button-hover);
}

.button-skip-link,
.button-skip-link:visited,
.button-skip-link:visited:hover {
  color: var(--colour-black);
}

.button-skip-link {
  left: 12px;
  top: 12px;
  opacity: 0;
  position: absolute;
  transform: translateY(calc(-100% - 12px));
  transition: transform 0.1s;
  z-index: 2;
}

.button-skip-link:focus {
  opacity: 100%;
  transform: translateY(0%);
}

:focus-visible {
  box-shadow: 0 0 0 0px transparent, 0 0 0 3px var(--colour-bright-orange);
  outline: 1px solid transparent;
  transition: box-shadow 0.1s;
}

label,
input {
  font-size: var(--font-size-main);
}

label {
  margin: 0;
  display: block;
}

input {
  background-color: var(--colour-white);
  border: 0;
  padding: 0.69rem 1.25rem; /* TODO: standardise padding */
  color: var(--colour-dark-orange);
}

input:focus-visible,
button:focus-visible,
.button:focus-visible,
textarea:focus-visible,
select:focus-visible {
  box-shadow: 0 0 0 2px var(--colour-grey),
    0 0 0 5px var(--colour-bright-orange);
  outline: 1px solid transparent;
  transition: box-shadow 0.1s;
  z-index: 1;
}

/* ============== Utilities ============== */

.accent-border {
  position: relative;
}

.accent-border::before {
  content: "";
  display: block;
  width: var(--accent-border-width);
  height: 100%;
  background-color: var(--colour-border);
  position: absolute;
  left: 0;
  top: 0;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.icon {
  fill: currentColor;
  width: 20px; /* default setting to prevent FOUT */
}

.text-indent {
  padding-left: var(--accent-border-width);
  padding-right: var(--accent-border-width);
}

@media only screen and (min-width: 520px) {
  .text-indent {
    padding-left: 2.5rem; /* TODO: stndardise */
  }
}

.small-text {
  font-size: var(--font-size-xsmall);
}

/* ============== LAYOUT ============== */

/* Work with fixed header */
@media only screen and (min-width: 520px) {
  .page-container {
    padding-top: calc(3.67rem + var(--spacing-3xlarge));
  }
}

.page-container > .section-label:first-child {
  margin-top: 0;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 940px;
  padding-left: var(--spacing-xsmall);
  padding-right: var(--spacing-xsmall);
}

.section.content-wrapper {
  background-color: var(--colour-off-white);
}

/* -------------- HEADER -------------- */

.page-header {
  display: block;
  background-color: var(--colour-black);
  padding: var(--spacing-small) 0;
  margin-bottom: var(--spacing-3xlarge);
  box-shadow: var(--drop-shadow);
  border-bottom: var(--subtle-shadow);
  font-family: var(--typeface-display);
  line-height: var(--line-height-display);
  color: var(--colour-white);
}

@media only screen and (min-width: 520px) {
  .page-header {
    position: fixed;
    width: 100%;
    z-index: 1;
  }
}

.page-header a,
.page-header a:visited {
  color: currentColor;
  text-decoration: none;
}

.page-header a:hover {
  text-decoration: underline;
  color: var(--colour-bright-orange);
}

.page-header__wrapper {
  display: grid;
  column-gap: 1.25rem; /* 20px */
}

@media screen and (min-width: 720px) {
  .page-header__wrapper {
    grid-template-columns: 1fr 2fr;
  }
}

/* -------------- Logo -------------- */

.site-name {
  margin: 0;
  font-size: var(--font-size-large);
  line-height: 1;
}

.site-logo-link {
  padding-left: 1.25rem; /* 20px */
  padding-right: 1.25rem; /* 20px */
  width: 150px;
  height: 32px;
  display: block;
}

.site-logo {
  width: 100%;
  height: 100%;
}

/* -------------- Section -------------- */

section,
.section {
  padding-bottom: 2.75rem;
}

.section--coloured {
  background-color: var(--colour-yellow);
}

.section:first-of-type,
.section--coloured,
.section--coloured + .section {
  padding-top: 2.75rem;
}

.section-label {
  margin-bottom: 1.38rem; /* TODO: standardise */
}

.section-title {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-large);
  padding: 0 2.5rem; /* TODO: standardise */
  margin: 0;
  text-align: center;
  line-height: 2.75rem; /* TODO: Standardise */
}

.section--coloured .section-title {
  background-color: var(--colour-white);
}

@media screen and (min-width: 520px) {
  .section-title {
    line-height: 2.75rem; /* TODO: standardise this */
    font-size: var(--font-size-xlarge);
    display: inline-block;
    text-align: left;
  }
  .section--coloured .section-title {
    padding-top: 0.38rem;
    padding-bottom: 0.38rem;
  }

  section:first-child .section-label {
    margin-top: 0;
  }
}

/* -------------- Columns -------------- */

.columns {
  display: grid;
  row-gap: 1.25rem;
}

.hero img {
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

@media screen and (max-width: 519px) {
  .hero--home {
    margin-bottom: -3.25rem;
    max-height: 350px;
  }

  .hero--schedule {
    display: none;
  }
}

.hero--schedule {
  margin-bottom: var(--spacing-xlarge);
}

ul.column-one {
  padding-left: 0;
  list-style: none;
}

@media screen and (min-width: 520px) {
  .columns {
    column-gap: 1.25rem;
  }

  .columns-half {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "column-one column-two";
  }

  .columns-thirds {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "column-one column-three"
      "column-two column-two";
  }

  .column-one {
    grid-area: column-one;
  }

  .column-two {
    grid-area: column-two;
  }

  .column-three {
    grid-area: column-three;
  }

  .hero {
    display: block;
  }

  .hero::before {
    display: none;
  }

  .hero img {
    height: 100%;
  }

  .hero--home {
    margin-bottom: var(--spacing-xlarge);
  }
}

@media screen and (min-width: 720px) {
  .columns-thirds {
    grid-template-columns: 3fr 6fr 3fr;
    grid-template-areas: "column-one column-two column-three";
    align-items: start;
  }
}

/* -------------- Card -------------- */

.cards {
  list-style: none;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  font-size: var(--font-size-main);
}

.card {
  color: var(--colour-body-text-dark);
  background-color: var(--colour-white);
  padding: 1.25rem; /* 20px */
  margin-bottom: 0;
  position: relative;
}

.card:not(.profile-card) + .card:not(.profile-card) {
  margin-top: 0.5rem;
}

.card p:last-child {
  margin-bottom: 0;
}

.card ul:last-child {
  margin-bottom: 0;
}

.card ul ul {
  margin-top: 0.5rem;
}
