:root {
  --typeface-main: 'Space Grotesk', sans-serif;
  --typeface-display: 'JetBrains Mono', monospace;;
  
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800; /* Only for display typeface */

  --font-size-small: 1rem; /* 16px */
  --font-size-main: 1.125rem; /* 18px */
  --font-size-large: 1.5rem; /* 24px */
  --font-size-xlarge: 2rem; /* 32px */

  --line-height-main: 1.33;
  --line-height-display: 1.25;

  --spacing-xsmall: .625rem; /* 10px */
  --spacing-small: .75rem; /* 12px */
  --spacing-main: 1rem; /* 16px */
  --spacing-large: 1.125rem; /* 18px */
  --spacing-xlarge: 1.5rem; /* 24px */
  --spacing-2xlarge: 2rem; /* 32px */
  --spacing-3xlarge: 3rem; /* 48px */
  
  --colour-black: #111111;
  --colour-blue: #101625;
  --colour-pink: #FF2466;
  --colour-pink-darken: #D0245A; /* Accessible option */
  --colour-green: #00E18F;
  --colour-white: #F2F0E9;

  --colour-body-text-light: var(--colour-white);
  --colour-body-text-dark: var(--colour-black);
  --colour-link: var(--colour-pink);
  --colour-link-hover: var(--colour-black);
  --colour-link-visited: var(--colour-pink-darken);

  --colour-border: var(--colour-pink);

  --colour-button-text: var(--colour-black);
  --colour-button-background: var(--colour-green);
  --colour-button-hover: var(--colour-button-text);
  --colour-button-background-hover: var(--colour-pink);

  --subtle-shadow: 1px solid #1C2230;
  --drop-shadow: 0px 0px 16px rgba(0, 0, 0, 0.15);
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: var(--typeface-main);
  font-weight: var(--font-weight-normal);

  line-height: var(--line-height-main);

  color: var(--colour-body-text-light);
  background-color: var(--colour-blue);

  color-scheme: light dark;

  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;

  -webkit-font-smoothing: antialiased;
}

.grid-bg::after {
  content: '';
  display: block;
  width: 120%;
  height: 110%;
  position: absolute;
  background: repeat url("/images/grid-tile.jpg");
  transform: rotate(-7deg);
  top: -5%;
  left: -10%;
  z-index: -1;
}

.page-content-clear-footer {
  flex: 1 0 auto;
  position: relative;
  overflow: hidden;
}

.grid-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/* ============== Typography ============== */

/* ----------------- Headings ----------------- */

h1,
h2,
.page-heading,
.heading1,
.heading2 {
  font-family: var(--typeface-display);
  line-height: var(--line-height-display);
  font-weight: var(--font-weight-bold);
}

/* @media screen and (prefers-color-scheme: dark) {
  h1,
  h2 {
    color: #d49c63;
  }
} */

h1,
.heading1 {
  font-size: var(--font-size-large);
}

h1 a,
h1 a:visited,
.heading1 a,
.heading1 a:visited {
  /* color: inherit; */
  text-decoration: none;
}

h2,
.heading2 {
  font-size: var(--font-size-main); 
}

h3 {
  font-size: var(--font-size-small);
  margin-top: 0;
  font-weight: var(--font-weight-bold);
}

@media screen and (min-width: 520px) {
  h1,
  .heading1 {
    font-size: var(--font-size-xlarge); 
  }

  h2,
  .heading2 {
    font-size: var(--font-size-large);
  }

  h3 {
    font-size: var(--font-size-main); 
  }
}

/* ----------------- GENERAL p, blockquotes & a ----------------- */

p,
td,
caption {
  margin: 0 0 1em;
  font-size: var(--font-size-main); 
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

a {
  color: var(--colour-link);
}

a:not(.button):visited,
a:not(.button):focus-visible {
  color: var(--colour-link-visited);
}

a:hover,
a:visited:hover {
  color: var(--colour-link-hover);
}

.button {
  font-family: var(--typeface-display);
  background: var(--colour-button-background);
  border: 1px solid transparent;
  color: var(--colour-button-text);
  display: inline-block;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background: var(--colour-button-background-hover);
  color: var(--colour-button-hover);
}

.button-skip-link {
  left: 12px;
  top: 12px;  
  position: absolute;
  transform: translateY(calc(-100% - 12px));
  transition: transform 0.1s;
  z-index: 2;
}

.button-skip-link:focus {
  transform: translateY(0%);
}

:focus-visible {
  box-shadow: 0 0 0 0px transparent, 0 0 0 3px var(--colour-pink);
  outline: 1px solid transparent;
  transition: box-shadow .1s;
}

/* -------------- LISTS -------------- */

/*
 * Addresses margins set differently in IE 6/7.
 */

dl,
menu,
ol,
ul {
  margin: 0 0 var(--spacing-xlarge);
}

/*
 * Addresses paddings set differently in IE 6/7.
 */

menu,
ol,
ul {
  padding-left: var(--spacing-2xlarge);
}

li {
  font-size: var(--font-size-main); 
  margin: 0 0 0.5rem;
}

/*
 * Corrects list images handled incorrectly in IE 7.
 */

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* -------------- Tables -------------- */

caption {
 text-align: left;
}

td, th {
  text-align: start;
  vertical-align: top;
  padding: .5rem var(--spacing-xlarge);
}

.table-date-cell {
  min-width: 90px;
}

tbody tr:nth-child(odd) {
  background: #fff;
}


/* ============== Forms ============== */

label,
input {
  font-size: var(--font-size-main); 
  font-family: var(--typeface-display);
}

label {
  margin: 0;
  display: block;
}

input {
  background-color: var(--colour-white);
  border: 0;
  padding: 1.25rem var(--spacing-xlarge);
  color: var(--colour-black);
}

/* ============== Utilities ============== */

.accent-border {
  position: relative;
}

.accent-border::before {
  content: '';
  display: block;
  width: 4px;
  height: 100%;
  background-color: var(--colour-border);
  position: absolute;
  left: -4px;
  top: 0;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.icon {
  fill: currentColor;
}

.text-indent {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

/* ============== LAYOUT ============== */

/* Work with fixed header */
@media only screen and (min-width: 520px) {
  .page-container {
    padding-top: calc(3.67rem + var(--spacing-3xlarge));
  }
}

.page-wrapper {
  margin: 0 auto;
  max-width: 940px;
  padding-left: var(--spacing-xsmall); 
  padding-right: var(--spacing-xsmall); 
}

/* -------------- HEADER -------------- */

.page-header {
  display: block;
  background-color: var(--colour-black);
  padding: var(--spacing-small) 0;
  margin-bottom: var(--spacing-3xlarge);
  box-shadow: var(--drop-shadow);
  border-bottom: var(--subtle-shadow);
  font-family: var(--typeface-display);
  line-height: var(--line-height-display);
  font-weight: var(--font-weight-bold);
  color: var(--colour-green);
}

@media only screen and (min-width: 520px) {
  .page-header {
    position: fixed;
    width: 100%;
    z-index: 1;
  }
}

.page-header a,
.page-header a:visited {
  color: currentColor;
  text-decoration: none;
}

.page-header a:hover {
  text-decoration: underline;
  color: var(--colour-pink);
}

.page-header__wrapper {
 display: grid;
 column-gap: 1.25rem; /* 20px */
}

@media screen and (min-width: 520px) {
  .page-header__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

.site-name {
  margin: 0;
  font-size: var(--font-size-large); 
}

.site-name a {
  padding-left: 1.25rem; /* 20px */
  padding-right: 1.25rem; /* 20px */
}

/* -------------- Logo -------------- */

.logo {
  font-weight: var(--font-weight-extra-bold);
  letter-spacing: -.04em;
}

/* Kerning is still being designed
.logo__part-one {
  letter-spacing: -.04em;
}

.logo__part-two {
  letter-spacing: -.11em;
}

.logo__part-three {
  letter-spacing: -.14em;
} */

/* -------------- Nav -------------- */

.global-navigation {
  padding: .25rem 0;
  margin-bottom: 0;
  padding: 0;
}

@media screen and (max-width: 519px) {
  .global-navigation {
    margin-top: .5rem;
  }
}

@media screen and (min-width: 520px) {
  .global-navigation {
    margin-left: -1.25rem;
    display: block !important; /* Override mobile menu */
  }
}

.global-navigation__item {
  display: block;
  list-style: none;
  margin: 0;
}

@media screen and (min-width: 520px) {
  .global-navigation__item {
    display: inline-block;
    vertical-align: middle;
  }
}

.global-navigation__link {
  display: block;
  padding: var(--spacing-xsmall) calc(var(--spacing-large) + 4px);
  text-decoration: none;
  font-size: var(--font-size-small);
}

@media screen and (min-width: 520px) {
  .global-navigation__link {
    padding: 0 1.25rem;
    line-height: 1.875;
  }
}

/* .global-navigation__link--active {
  color: var(--colour-link-hover);
} */

/* -------------- Hamburger -------------- */

/*!
 * Sliders stype from Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

.hamburger {
  padding: .625rem; /* 10px 10px */
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: var(--colour-green);
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;

  --hamburger-line-width: 1.5rem; /* 24px */
  --hamburger-line-height: 1.25rem; /* 20px */
  --hamburger-line-thickness: .25rem; /* 4px */

  position: absolute;
  top: .25rem; /* 4px */
  right: .625rem; 
}

@media screen and (min-width: 520px) {
  .hamburger {
    display: none;
  }
}

.hamburger:hover, .hamburger.is-active:hover,
.hamburger:focus, .hamburger.is-active:focus {
  color: var(--colour-pink);
}

  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    color: currentColor;
  }

.hamburger-box {
  width: var(--hamburger-line-width);
  height: var(--hamburger-line-height);
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: 0;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: var(--hamburger-line-width);
  height: var(--hamburger-line-thickness);
  background-color: currentColor;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -.5rem; /* -8px */
}

.hamburger-inner::after {
  bottom: -.5rem; /* -8px */
}

.hamburger--slider .hamburger-inner {
  top: .125rem; /* 1px */
}

.hamburger--slider .hamburger-inner::before {
  top: .5rem; /* 8px */
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}

.hamburger--slider .hamburger-inner::after {
  top: var(--spacing-xlarge); 
}

.hamburger--slider.is-active .hamburger-inner {
 transform: translate3d(0, .5rem, 0) rotate(45deg);
}

.hamburger--slider.is-active .hamburger-inner::before {
  transform: rotate(-45deg) translate3d(-.175rem, -.375rem, 0);
  opacity: 0;
}

.hamburger--slider.is-active .hamburger-inner::after {
  transform: translate3d(0, calc(var(--spacing-xlarge) * -1), 0) rotate(-90deg);
}

/* -------------- Section -------------- */

section {
  margin-bottom: var(--spacing-3xlarge);
}

.section-label {
  display: flex;
}

.section-title {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-small);
  color: var(--colour-green);
  padding: .375rem 1.25rem;
  margin: 0;
  background-color: var(--colour-black);
  box-shadow: var(--drop-shadow);
  display: flex;
  align-items: center;
}

.section-title .icon {
  width: 100%;
  max-width: 1.125rem;
  max-height: 1.125rem;
  margin-left: .625rem; /* 10px */
}

@media screen and (max-width: 519px) {
  .section-label--header + .text-indent {
    margin-top: var(--spacing-xlarge);
  }
}

@media screen and (min-width: 520px) {
  .section-label--header .section-title {
    padding-top: var(--spacing-xlarge);
    padding-bottom: var(--spacing-xlarge);
    border: var(--subtle-shadow);
    font-size: var(--font-size-large);
  }

  .section-label--header {
    display: block;
    margin-bottom: var(--spacing-xlarge);
  }

  .section-label--header .icon {
    max-width: 1.375rem;
    max-height: 1.375rem;
  }
}

/* -------------- Columns -------------- */

.columns {
  display: grid;
}

.hero-home img {
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

@media screen and (max-width: 519px) {
  .hero-home {
    margin-bottom: calc(var(--spacing-2xlarge) * -1);
    max-height: 350px;
  }
}

@media screen and (min-width: 520px) {
  .columns {
    column-gap: 1.25rem;
  }

  .columns-half {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "column-one column-two";
  }

  .column-one {
    grid-area: column-one;
  }

  .column-two {
    grid-area: column-two;
  }

  .hero-home {
    display: block;
    margin-top: var(--spacing-xlarge);
    margin-bottom: var(--spacing-3xlarge);
  }

  .hero-home::before {
    display: none;
  }

  .hero-home img {
    height: 100%;
  }
}

/* -------------- Card -------------- */

.cards {
  list-style: none;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  font-size: var(--font-size-small);
}

.card {
  color: var(--colour-body-text-dark);
  background-color: var(--colour-white);
  padding: var(--spacing-xlarge) 1.25rem; /* 24px 20px */
  margin-bottom: 0;
}

.card:not(.profile-card) + .card:not(.profile-card) {
  margin-top: .5rem;
}

.card p:last-child {
  margin-bottom: 0;
}

.section-label + .card {
  margin-bottom: var(--spacing-xlarge);
}

.profile-card {
  padding: 0;
  display: flex;
  position: relative;
  z-index: 1;
}

.profile-card__picture {
  min-width: 45%;
  width: 100%;
  max-width: 140px;
} 

.profile-card__picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  mix-blend-mode: multiply;
} 

.profile-card__info {
  padding: var(--spacing-small) var(--spacing-xsmall);
}

.profile-card__info * {
  display: block;
}

.profile-card__info,
.profile-card__info p,
.profile-card__name {
  margin-bottom: 0;
  font-size: var(--font-size-small);
}

.profile-card__link {
  display: block;
  position: static;
}

.profile-card__link::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.profile-card__link:focus-visible {
  box-shadow: none;
  outline: 0;
}

.profile-card__link:focus-visible::before {
  box-shadow: 0 0 0 0 transparent,0 0 0 3px var(--colour-pink);
  outline: 1px solid transparent;
  transition: box-shadow .1s;
}

a.profile-card__link,
.profile-card__link * {
  color: currentColor;
  text-decoration: none;
}

a.profile-card__link:visited .profile-card__name {
  color: var(--colour-link-visited);
}

.profile-card__link .profile-card__name {
  color: var(--colour-link);
}

.profile-card__link:hover .profile-card__name {
  text-decoration: underline;
}

.profile-card__name {
  font-weight: var(--font-weight-bold);
}

.profiles {
  display: grid;
  row-gap: 1.25rem;
  align-items: stretch;
}

@media screen and (min-width: 520px) {
  .profiles {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.25rem;
  }
}

@media screen and (min-width: 780px) {
  .profiles {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* -------------- Newsletter signup -------------- */

.newsletter-signup {
  display: grid;
  margin-top: var(--spacing-xlarge);
}

.newsletter-signup__label {
  margin-bottom: .5rem;
}

input:focus-visible,
button:focus-visible,
.button:focus-visible,
textarea:focus-visible,
select:focus-visible {
  box-shadow: 0 0 0 2px var(--colour-blue), 0 0 0 5px var(--colour-pink);
  outline: 1px solid transparent;
  transition: box-shadow .1s;
}

.newsletter-signup__button {
  padding: 1.25rem var(--spacing-xlarge);
}

@media screen and (max-width: 520px) {
  .newsletter-signup__input {
    margin-bottom: var(--spacing-xlarge);
  }
}

@media screen and (min-width: 520px) {
  .newsletter-signup__label {
    grid-area: newsletter-label;
  }
  
  .newsletter-signup__input {
    grid-area: newsletter-input;
  }
  
  .newsletter-signup__button {
    grid-area: newsletter-button;
  }

  .newsletter-signup {
    grid-template-columns: 4fr 2fr;
    gap: 0 1.25rem;
    grid-template-areas: 
    "newsletter-label newsletter-label"
    "newsletter-input newsletter-button";
  }
}

@media screen and (min-width: 780px) {
  .newsletter-signup {
    grid-template-columns: 3fr 1fr;
  }
}

/* -------------- Footer -------------- */

.page-footer {
  background-color: var(--colour-black);
  padding: var(--spacing-xlarge) var(--spacing-small);
  border-top: var(--subtle-shadow);
  box-shadow: var(--drop-shadow);
}

@media screen and (min-width: 520px) {
  .page-footer {
    padding: var(--spacing-3xlarge) var(--spacing-small);
  }
}

body > .page-footer {
  grid-row-start: 2;
  grid-row-end: 3;
}

.page-footer a,
.page-footer a:visited {
  color: currentColor;
}

.page-footer a:hover {
  color: var(--colour-pink);
}

.footer-social {
  font-family: var(--typeface-display);
  color: var(--colour-green);
  margin: 0 0 var(--spacing-xlarge);
  padding: 0;
  list-style: none;
}

@media screen and (min-width: 520px) {
  .footer-social {
    display: flex;
    justify-content: center;
    margin-bottom: var(--spacing-3xlarge);
  }
}

.footer-social__item {
  color: var(--colour-green);
  font-size: var(--font-size-small);
  margin-bottom: 0;
} 

.footer-social__item .icon {
  width: 100%;
  max-width: 1.25rem;
  height: 1rem;
  padding-right: .875em;
}

.footer-social__link {
  padding: var(--spacing-small) 0;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 520px) {
  .footer-social__link {
    padding: var(--spacing-small) var(--spacing-main);
  }
}

@media screen and (min-width: 780px) {
  .footer-social__link {
    padding: var(--spacing-small) var(--spacing-xlarge);
  }
}

.footer-social__link,
.footer-social__link:hover,
.footer-social__link:focus-visible {
  text-decoration: none;
}

.footer-social__text {
  position: relative;
  display: inline-block;
}

.footer-social__text:after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  display: block;
  background-color: currentColor;
  height: 1px;
  width: 100%;
}

.footnotes {
  color: var(--colour-white);
}

.footnotes p:first-child {
  margin-bottom: 0;
}

.footnotes small {
  font-size: var(--font-size-main);
}

@media screen and (min-width: 520px) {
  .footnotes {
    text-align: center;
  }
}
