@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&family=Space+Grotesk&display=swap");

body {
  font-family: 'Space Grotesk',
  sans-serif; font-size: 18px;
  line-height: 1.3;
}

h1, h2, h3 {
  font-family: 'JetBrains Mono', monospace;
}

.booking-header img {
  width: 100%;
}