---
tags: page
title: 7th July
description: What does great software engineering culture look like, and how have Kiwis done it?
eleventyNavigation:
  key: 2023
  order: 5
excludeSponsors: true
event: EVENT_NAME_LOWERCASE2023
---
{% extends 'layouts/2023/base.njk' %}
{% from 'partials/2023/card-profile.njk' import card %}

{% set contentType = 'home' %}

{%- css %}
{% include "css/2023/components/profile-card.css" %}
{% endcss %}

{% block content %}
  <div class="columns columns-half">
    <picture class="column-two section-label accent-border hero hero--home">
      <img src="{{ '/assets/images/decorations/2023/hero-home.jpg' | url }}" alt="alt">
    </picture>

    <div class="column-one">
      <section>
        <div class="section-label accent-border">
          <h2 class="section-title">
            Conference theme {% svg "sparkles" %}
          </h2>
        </div>
        <div class="card accent-border">
          <p>
            What does great software engineering culture look like, and how have Kiwis done it?
          </p>
        </div>
      </section>

      <section>
        <div class="section-label accent-border">
          <h2 class="section-title">
            Photos & Videos {% svg "sparkles" %}</h2>
        </div>
        <div class="card accent-border">
          <p>
            View all official photos on <a href="{{ EVENT_2023.photos | url }}" rel="external" class="track_EVENT_2023Photos">EVENT_NAME 2023 Google Photo album</a>.
          </p>
          <p>
            Watch all of the recordings on <a href="{{ site.youtube | url }}" rel="external" class="track_EVENT_2023Videos">EVENT_NAME Youtube channel</a>.
          </p>
        </div>
      </section>

      <section>
        <div class="section-label accent-border">
          <h2 class="section-title">
            When {% svg "calendar" %}
          </h2>
        </div>
        <div class="card accent-border">
          <p>
            <time datetime="2023-07-07T09:00:00+12:00">
              Friday 7th July 2023<br>
              9am—5pm
            </time>
          </p>
        </div>
      </section>

      <section>
        <div class="section-label accent-border">
          <h2 class="section-title">
            Where {% svg "location" %}
          </h2>
        </div>
        <div class="card accent-border">
          <p>
            Room RHLT1<br>
            <a href="https://goo.gl/maps/SVmz9Mq6xLK5DMrXA" rel="external">Rutherford House</a><br>
            <a href="https://www.wgtn.ac.nz/about/campuses-facilities/campuses/pipitea/pipitea-map.pdf" rel="external">Pipitea Campus</a><br>
            Victoria University of Wellington<br>
            New Zealand
          </p>
        </div>
      </section>
    </div>
  </div>

  <section>
    <div class="section-label accent-border">
      <h2 class="section-title">
        Our mission {% svg "info" %}
      </h2>
    </div>
    <div class="card accent-border">
      <p>
        EVENT_NAME provide EVENT_SLOGAN 
      </p>
      <p>For now... we're starting with a conference!</p>
    </div>
  </section>

  <section>
    <div class="section-label section-label--header accent-border">
      <h2 class="section-title">
        Speakers {% svg "person_outline" %}
      </h2>
    </div>

    <ul class="cards profiles">
      {% for speaker in collections.speakers2023 %}
        {{ card(speaker, horizontal='true') }}
      {% endfor %}
    </ul>
  </section>

  <section>
    <div class="section-label section-label--header accent-border">
      <h2 class="section-title">
        Panellists {% svg "people_outline" %}
      </h2>
    </div>
    <ul class="cards profiles profiles--four-columns">
      {% for panellist in collections.panellists2023 %}
        {{ card(panellist) }}
      {% endfor %}
    </ul>
  </section>

  {%- css %}
  {% include "css/2023/components/sponsors.css" %}
  {% endcss %}

  <section>
    <div class="section-label section-label--header accent-border">
      <h2 class="section-title">
        Sponsors {% svg "sparkles" %}
      </h2>
    </div>

    <div class="text-indent">
      <h3>Gold sponsor</h3>
    </div>

    <ul class="cards cards--sponsors">
      <li class="card--sponsor card--sponsor-large">
        <a class="card card--sponsor-link" rel="external" href="SPONSOR_URL">
          <img src="{{ '/assets/images/sponsors/2023/SPONSOR_LOGO.png' | url }}" alt="SPONSOR_NAME" />
        </a>
      </li>
    </ul>

    <div class="text-indent">
      <h3>Silver sponsors</h3>
    </div>

    <ul class="cards cards--sponsors">
      <li class="card--sponsor">
        <a class="card card--sponsor-link" rel="external" href="SPONSOR_URL">
          <img src="{{ '/assets/images/sponsors/2023/SPONSOR_LOGO.png' | url }}" alt="SPONSOR_NAME" />
        </a>
      </li>

      <li class="card--sponsor">
        <a class="card card--sponsor-link" rel="external" href="SPONSOR_URL">
          <img src="{{ '/assets/images/sponsors/2023/SPONSOR_LOGO.png' | url }}" alt="SPONSOR_NAME" />
        </a>
      </li>

      <li class="card--sponsor">
        <a class="card card--sponsor-link" rel="external" href="SPONSOR_URL">
          <img src="{{ '/assets/images/sponsors/2023/SPONSOR_LOGO.png' | url }}" alt="SPONSOR_NAME" />
        </a>
      </li>
    </ul>

    <div class="text-indent">
      <p>Thank you to our amazing sponsors. We wouldn’t be able to do it without you!</p>
    </div>
  </section>
{% endblock %}