/*
  Profile card styles
  It's an add on to .card styles used liberally through put the site
*/

.card.card-profile {
  padding: 0;
}

.card-profile__picture {
  display: block;
  width: 100%;
  background-color: #e5d8cd;
}

.card-profile__picture img {
  display: block;
  width: 100%;
}

.card-profile__picture .icon {
  display: block;
  width: 78%;
  margin: 0 auto;
  padding: 0 var(--spacing-xsmall);
  opacity: 60%;
  stroke: #e5d8cd;
  stroke-width: 1px;
}

.card-profile__picture-text {
  display: block;
  font-size: 0.825em;
  text-align: center;
  padding: 0 var(--spacing-xsmall) var(--spacing-main) var(--spacing-xsmall);
}

.card-profile__info {
  padding: 1.25rem; /* 20px */
}

.card-profile__info * {
  display: block;
}

.card-profile__info,
.card-profile__info p,
.card-profile__name {
  margin-bottom: 0;
  font-size: var(--font-size-main);
}

.card-profile__name {
  font-weight: var(--font-weight-semi-bold);
  font-size: 18px; /* Special one-off */
  line-height: 1.2;
}

/* Profile card - horizontal */

.card-profile--horizontal {
  display: flex;
}

.card-profile--horizontal .card-profile__picture {
  min-width: 45%;
  max-width: 140px;
}

.card-profile--horizontal .card-profile__picture img {
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.card-profile--horizontal .card-profile__info {
  padding: var(--spacing-small) var(--spacing-xsmall);
}

.card .card-profile__link {
  display: block;
  position: static;
}

.card .card-profile__link::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card .card-profile__link:focus-visible {
  box-shadow: none;
  outline: 0;
}

.card .card-profile__link:focus-visible::before {
  box-shadow: 0 0 0 2px var(--colour-grey), 0 0 0 5px var(--colour-orange);
  outline: 1px solid transparent;
  transition: box-shadow 0.1s;
}

.card .card-profile__link,
.card .card-profile__link * {
  color: currentColor;
  text-decoration: none;
}

.card .card-profile__link:visited .card-profile__name {
  color: var(--colour-link-visited);
}

.card .card-profile__link .card-profile__name {
  color: var(--colour-link);
}

.card .card-profile__link:hover .card-profile__name {
  text-decoration: underline;
}

.profiles {
  display: grid;
  align-items: stretch;
  row-gap: var(--spacing-main);
  column-gap: var(--spacing-grid-gap);
}

@media screen and (min-width: 520px) {
  .profiles {
    grid-template-columns: repeat(2, 1fr);
  }

  .profiles--three-columns {
    grid-template-columns: repeat(3, 1fr);
  }

  .profiles--four-columns {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 780px) {
  .profiles--four-columns {
    grid-template-columns: repeat(4, 1fr);
  }
}
