/* -------------- Page footer -------------- */

.page-footer {
  background-color: var(--colour-black);
  padding: var(--spacing-xlarge) var(--spacing-small);
  border-top: var(--subtle-shadow);
  box-shadow: var(--drop-shadow);
  color: var(--colour-body-text-light);
}

@media screen and (min-width: 520px) {
  .page-footer {
    padding: var(--spacing-3xlarge) var(--spacing-small);
  }
}

body > .page-footer {
  grid-row-start: 2;
  grid-row-end: 3;
}

.page-footer a:not(.footer-social__link) {
  text-decoration: underline;
}

.page-footer a,
.page-footer a:visited {
  color: currentColor;
}

.page-footer a:hover {
  color: var(--colour-orange);
}

.footer-link-list,
.footer-link-list ul {
  list-style: none;
  padding: 0;
}

.footer-link-list {
  margin-bottom: var(--spacing-3xlarge);
}

@media screen and (min-width: 520px) {
  .footer-link-list {
    display: flex;
    justify-content: center;
    column-gap: var(--spacing-3xlarge);
  }
}

/* -------------- Footer socials -------------- */

.footer-social {
  font-family: var(--typeface-display);
  margin: 0 0 var(--spacing-xlarge);
  padding: 0;
  list-style: none;
}

.footer-social__item {
  font-size: var(--font-size-main);
  margin-bottom: 0;
}

.footer-social__item .icon {
  padding-right: 0.875em;
}

.footer-social__link {
  padding: var(--spacing-small) 0;
  display: flex;
  align-items: center;
  font-weight: var(--font-weight-bold);
}

@media screen and (min-width: 520px) {
  .footer-social__link {
    padding: var(--spacing-small) 0;
  }
}

.footer-social__link,
.footer-social__link:hover,
.footer-social__link:focus-visible {
  text-decoration: none;
}

.footer-social__link .icon {
  width: 24px;
}

.footer-social__text {
  position: relative;
  display: inline-block;
}

.footer-social__text:after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  display: block;
  background-color: currentColor;
  height: 1px;
  width: 100%;
}

/* -------------- Foot notes -------------- */

.footnotes {
  color: var(--colour-white);
}

.footnotes small {
  font-size: var(--font-size-main);
}

@media screen and (min-width: 520px) {
  .footnotes {
    text-align: center;
  }
}
