.newsletter-signup {
  display: grid;
  margin-top: var(--spacing-xlarge);
}

.newsletter-signup__input {
  border: 1px solid var(--colour-dark-orange);
}

.newsletter-signup__label {
  padding-left: 1.25rem;
}

@media screen and (min-width: 520px) {
  .newsletter-signup {
    margin-bottom: 80px;
  }
}

.newsletter-signup__button {
  padding: 1.25rem var(--spacing-xlarge);
}

@media screen and (max-width: 520px) {
  .newsletter-signup__input {
    margin-bottom: var(--spacing-xlarge);
  }
}

@media screen and (min-width: 520px) {
  .newsletter-signup__label {
    grid-area: newsletter-label;
  }

  .newsletter-signup__input {
    grid-area: newsletter-input;
  }

  .newsletter-signup__button {
    grid-area: newsletter-button;
  }

  .newsletter-signup {
    grid-template-columns: 4fr 2fr;
    gap: 0 1.25rem;
    grid-template-areas:
      "newsletter-label newsletter-label"
      "newsletter-input newsletter-button";
  }
}

@media screen and (min-width: 780px) {
  .newsletter-signup {
    grid-template-columns: 3fr 1fr;
  }
}
