.newsletter-signup {
  display: grid;
}

.newsletter-signup__label {
  padding: 0.125rem var(--spacing-xlarge);
  background-color: var(--colour-dark-orange);
  color: var(--colour-white);
  justify-self: start;
}

.newsletter-signup__input {
  border: 1px solid var(--colour-dark-orange);
  box-sizing: border-box;
}

@media screen and (max-width: 519px) {
  .newsletter-signup__decorative-image {
    display: none;
  }

  .newsletter-signup__input {
    margin-bottom: 0.69rem; /* TODO: Standardise spacing */
  }

  .newsletter-signup__button {
    justify-self: end;
  }
}

@media screen and (min-width: 520px) {
  .newsletter-signup__decorative-image {
    display: block;
  }

  .newsletter-signup__section-label {
    margin-top: 1.375rem; /* 22px TODO: standardise */
  }

  .newsletter-signup__label {
    grid-area: newsletter-label;
  }

  .newsletter-signup__input {
    grid-area: newsletter-input;
  }

  .newsletter-signup__button {
    grid-area: newsletter-button;
  }

  .newsletter-signup {
    grid-template-columns: 4fr 2fr;
    gap: 0 1.25rem;
    grid-template-areas:
      "newsletter-label newsletter-label"
      "newsletter-input newsletter-button";
  }
}

@media screen and (min-width: 780px) {
  .newsletter-signup {
    grid-template-columns: 3fr 1fr;
  }
}
