@media screen and (min-width: 720px) {
  .profile-page__picture-wrap {
    position: absolute;
    right: 0;
    height: 100%;
    width: calc(33.33% - 1.25rem + 6px);
    overflow: hidden;
  }

  .profile-page__picture {
    position: relative;
    z-index: 1;
    height: 100%;
  }

  .profile-page__picture img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }

  .title-block-text__primary .page-title,
  .profile-page-pronoun {
    display: inline-block;
  }

  .profile-page-pronoun {
    margin-left: var(--spacing-xsmall);
  }
}

.profile-page__picture,
.profile-page__picture > * {
  display: block;
  width: 100%;
}
