.talk-page__title .page-title {
  margin-bottom: var(--spacing-main);
}

@media screen and (min-width: 720px) {
  .talk-page__heading {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.25rem;
  }

  .talk-page__title-wrap {
    grid-row: 1;
    grid-column: span 3 / -1;
    z-index: 2;
  }

  .talk-page__colour-block {
    grid-row-start: 1;
    grid-column-start: 3;
    position: relative;
  }

  .talk-page__colour-block::after {
    content: "";
    position: absolute;
    top: calc(-1 * var(--spacing-large));
    display: block;
    background-color: var(--colour-yellow);
    width: 100vw;
    height: calc(100% + var(--spacing-large));
  }

  .talk-page__title {
    display: flex;
    align-items: end;
    gap: var(--spacing-xsmall);
  }
}

.talk-page__picture,
.talk-page__picture > * {
  display: block;
  width: 100%;
}

.talk-page__subtitle {
  font-size: var(--font-size-xlarge);
  margin-bottom: var(--spacing-large);
}

.talk-page__transcript-wrapper {
  margin-top: var(--spacing-main);
}

@media only screen and (min-width: 520px) {
  .talk-page__transcript {
    padding-left: 1.5rem;
  }
}
