.title-block-text-wrapper {
  padding-top: var(--spacing-xlarge);
}

.title-block-text__primary {
  margin-bottom: var(--spacing-main);
}

.title-block:not(:has(.profile-page__picture-wrap)) .page-title {
  font-size: var(--font-size-page-title-smaller);
}

.title-block-text__secondary {
  font-size: var(--font-size-xlarge);
  line-height: var(--line-height-display-secondary);
}

@media screen and (min-width: 720px) {
  .title-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--spacing-grid-gap);
    position: relative;
  }

  .title-block-text-wrapper {
    grid-row: 1;
    grid-column: span 3 / -1;
    z-index: 2;
    padding-bottom: var(--spacing-xlarge);
  }

  .title-block:has(.profile-page__picture-wrap) .title-block-text-wrapper {
    padding-right: 27%;
  }

  .title-block-text-wrapper *:last-child {
    margin-bottom: 0;
  }

  .title-block__colour-block {
    --title-block-colour: var(--colour-dark-orange);

    background-color: var(--title-block-colour);
    grid-row-start: 1;
    grid-column-start: 3;
    width: calc(100% + 1px);
  }

  .title-block__colour-block--light {
    --title-block-colour: var(--colour-yellow);
  }

  .title-block__colour-block::after {
    background-color: var(--title-block-colour);
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 100vw;
    height: 100%;
  }
}
