<!DOCTYPE html>
<html lang="en-NZ">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | absoluteUrl(site.url) }}"/>
    <link rel="icon" type="image/png" href="{{ '/images/icons/favicon-96x96.png' | absoluteUrl(site.url) }}" sizes="96x96"/>
    <link rel="icon" type="image/png" href="{{ '/images/icons/favicon-32x32.png' | absoluteUrl(site.url) }}" sizes="32x32"/>
    <link rel="icon" type="image/png" href="{{ '/images/icons/favicon-16x16.png' | absoluteUrl(site.url) }}" sizes="16x16"/>

    <link rel="apple-touch-icon" href="{{ '/apple-touch-icon.png' | absoluteUrl(site.url) }}" sizes="180x180"/>

    <link rel="manifest" href="{{ '/manifest.json' | absoluteUrl(site.url) }}"/>
    <link rel="mask-icon" href="{{ '/images/icons/safari-pinned-tab.svg' | absoluteUrl(site.url) }}" color="#A2DDD9"/>

    <link rel="application/rss+xml" rel="alternate" title="{{ site.title }}" href="{{ site.podcastRSS }}"/>
    
    <meta name="msapplication-TileColor" content="#A2DDD9">
    <meta name="theme-color" content="#A2DDD9"/>
    <meta name="background-color" content="#fff"/>
    
    <meta name="keywords" content="{{ keywords if keywords else site.keywords }}"/>

    <title>
      {{ title + " – " + site.title if title else site.title }}
    </title>
    
    <meta itemprop="name" content="{{ title + ' – ' + site.title if title else site.title }}"/>
    <meta name="title" content="{{ title + ' – ' + site.title if title else site.title }}"/>
    <meta name="description" content="{{ description if description else site.description }}"/>
    <meta itemprop="image" content="{{ featureImage if featureImage else site.logo }}"/>
    <meta itemprop="url" content="{{ site.url }}"/>
    <meta itemprop="author" content="{{ site.author }}"/>

    <meta property="og:site_name" content="{{ site.title }}"/>
    <meta property="og:title" content="{{ title + ' – ' + site.title if title else site.title }}"/>
    <meta property="og:type" content="{{ 'music.song' if contentType === 'episode' else 'music.radio_station' }}"/>
    <meta property="og:description" content="{{ description if description else site.description }}"/>
    <meta property="og:url" content="{{ page.url | absoluteUrl(site.url) }}"/>

    <meta property="og:image" content="{{ featuredImage if featuredImage else site.image }}"/>
    <meta property="og:image:alt" content="{{ featuredImageAlt if featuredImageAlt else site.imageAlt }}"/>
    <meta property="og:image:type" content="{{ featureImageType if featuredImageType else site.imageType }}" />
    <meta property="og:image:width" content="{{ featureImageWidth if featuredImageWidth else site.imageWidth }}" />
    <meta property="og:image:height" content="{{ featureImageHeight if featuredImageHeight else site.imageHeight }}" />

    <meta property="og:locale" content="en_NZ" />
    <meta property="og:locale:alternate" content="th_TH" />
    
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:dnt" content="on"/>
    <meta name="twitter:creator" content="{{ site.twitterHandle }}" />
  
    <meta property="fb:app_id" content="2285848558335929"/>

    {%- set css -%}
      {% include 'css/normalize.css' %}
      {% include 'css/font-face.css' %}
      {% include 'css/base.css' %}
    {%- endset -%}

    <style>
      {{ css | cssmin | safe }}
    </style>
    
    <script src="" data-site="" defer></script>
  </head>

  <body>
    <a class="button button-skip-link" href="#mainContent">Skip to main content</a>

    <div class="wrap">
      <header class="header">
        {% if title and contentType != 'episode' %}
          <h1 class="heading1">{{ title }}</h1>
        {% else %}
          <p class="heading1"><a href="{{ '/' | url }}">NZ Tech Rally</a></p>
        {% endif %}
        
        {% if subtitle %}
          <p class="header-subtitle">{{ subtitle }}</p>
        {% endif %}
      </header>

      {# {%- include 'partials/navigation-main.njk' -%} #}

      {% block content %}
      {% endblock content %}

      {%- include 'partials/footer.njk' -%}
    </div>
  </body>

  {# <script>
    {{ js | jsmin | safe }}
  </script> #}
</html>
