{% extends 'layouts/base.njk' %}
{% from 'partials/card-speaker.njk' import card %}

{% set contentType = contentType %}
{% set title = fullName %}
{% set descriprion = talkExcerpt %}
{% set largeTitle = true %}
{% set pageIcon = 'person' %}

{% block content %}
  <main id="mainContent">
    <article class="columns columns-thirds">
      <header class="column-one card profile-card accent-border">
        <picture class="profile-card__picture">
          <source srcset="{{ profilePhoto }}" media="(orientation: portrait)" />
          <img src="{{ profilePhoto }}" alt="{{ profilePhotoAltText }}" />
        </picture>

        <div class="profile-card__info">
          <p class="card-title profile-card__name">
            {{ fullName }}
          </p>

          <p>
            {{ jobTitle }}
            {% if organisation %}
              @ {{ organisation }}
            {% endif %}
          </p>
        </div>
      </header>

      <div class="column-two card">
        {{ bio | safe }}
      </div>

      <aside class="column-three">
        <ul class="speaker-links">
          {% for profile in profileUrl %}
            <li class="accent-border speaker-link__item">
              <a class="speaker-link" href="{{ profile.url }}" rel="external">
                {{ profile.name }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </aside>
    </article>

    <article>
      <div class="section-label section-label--header accent-border">
        <h1 class="section-title">
          {{ talkTitle }}

          <svg class="icon" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.33317 3.33335H24.6665V19.3334H4.89317L3.33317 20.8934V3.33335ZM3.33317 0.666687C1.8665 0.666687 0.679837 1.86669 0.679837 3.33335L0.666504 27.3334L5.99984 22H24.6665C26.1332 22 27.3332 20.8 27.3332 19.3334V3.33335C27.3332 1.86669 26.1332 0.666687 24.6665 0.666687H3.33317ZM5.99984 14H16.6665V16.6667H5.99984V14ZM5.99984 10H21.9998V12.6667H5.99984V10ZM5.99984 6.00002H21.9998V8.66669H5.99984V6.00002Z" fill="currentColor"/>
          </svg>
        </h1>
      </div>

      <div class="columns columns-half">
        <div class="column-one">
          <div class="section-label accent-border">
            <h3 class="section-title">
              About
              <svg class="icon" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path d="M8.16666 4.33329H9.83332V5.99996H8.16666V4.33329ZM8.16666 7.66663H9.83332V12.6666H8.16666V7.66663ZM8.99999 0.166626C4.39999 0.166626 0.666656 3.89996 0.666656 8.49996C0.666656 13.1 4.39999 16.8333 8.99999 16.8333C13.6 16.8333 17.3333 13.1 17.3333 8.49996C17.3333 3.89996 13.6 0.166626 8.99999 0.166626ZM8.99999 15.1666C5.32499 15.1666 2.33332 12.175 2.33332 8.49996C2.33332 4.82496 5.32499 1.83329 8.99999 1.83329C12.675 1.83329 15.6667 4.82496 15.6667 8.49996C15.6667 12.175 12.675 15.1666 8.99999 15.1666Z" />
              </svg>
            </h3>
          </div>

          <div class="card accent-border">
            {{ content | safe }}
          </div>
        </div>

        <div class="column-two">
          <div class="section-label accent-border">
            <h3 class="section-title">
              When
              <svg class="icon" width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.6667 2H14.8333V0.333334H13.1667V2H4.83332V0.333334H3.16666V2H2.33332C1.41666 2 0.666656 2.75 0.666656 3.66667V17C0.666656 17.9167 1.41666 18.6667 2.33332 18.6667H15.6667C16.5833 18.6667 17.3333 17.9167 17.3333 17V3.66667C17.3333 2.75 16.5833 2 15.6667 2ZM15.6667 17H2.33332V6.16667H15.6667V17Z" />
              </svg>
            </h3>
          </div>

          <div class="card accent-border">
            <p>
              {%if talkStartTime %}
                <time datetime="{{ talkStartTime }}">{{ talkStartTime | readableDate }}</time><br>
                  <time datetime="{{ talkStartTime }}">{{ talkStartTime | readableTime }}</time> - <time datetime="{{ talkEndTime }}">{{ talkEndTime | readableTime }}</time>
              {% else %}
                Coming soon
              {% endif %}
            </p>
          </div>

          <section>
            <div class="section-label accent-border">
              <h3 class="section-title">
                Where

                <svg class="icon" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_622_315)">
                    <path d="M9.99984 2.16663C6.77484 2.16663 4.1665 4.77496 4.1665 7.99996C4.1665 12.375 9.99984 18.8333 9.99984 18.8333C9.99984 18.8333 15.8332 12.375 15.8332 7.99996C15.8332 4.77496 13.2248 2.16663 9.99984 2.16663ZM5.83317 7.99996C5.83317 5.69996 7.69984 3.83329 9.99984 3.83329C12.2998 3.83329 14.1665 5.69996 14.1665 7.99996C14.1665 10.4 11.7665 13.9916 9.99984 16.2333C8.2665 14.0083 5.83317 10.375 5.83317 7.99996Z" fill="currentColor"/>
                    <path d="M9.99984 10.0833C11.1504 10.0833 12.0832 9.15055 12.0832 7.99996C12.0832 6.84937 11.1504 5.91663 9.99984 5.91663C8.84924 5.91663 7.9165 6.84937 7.9165 7.99996C7.9165 9.15055 8.84924 10.0833 9.99984 10.0833Z" fill="currentColor"/>
                  </g>
                </svg>
              </h3>
            </div>

            <div class="card accent-border">
              <p>
                Room RHLT1<br>
                <a href="https://goo.gl/maps/SVmz9Mq6xLK5DMrXA" rel="external">Rutherford House</a><br>
                <a href="https://www.wgtn.ac.nz/about/campuses-facilities/campuses/pipitea/pipitea-map.pdf" rel="external">Pipitea Campus</a><br>
                Victoria University of Wellington<br>
                New Zealand
              </p>
            </div>
          </section>
        </div>
      </div>
    </article>
  </main>
{% endblock %}
