{% extends 'layouts/base.njk' %}
{% from 'partials/card.njk' import card %}

{% set contentType = contentType %}
{% set title = talkTitle + ' by ' + speaker %}
{% set description = talkExcerpt %}

{%- css %}
{% include "css/components/talk-page.css" %}
{% include "css/components/profile-card.css" %}
{% endcss %}

{% block pageHeader %}
  <div class="talk-page__heading">
    <div class="talk-page__title-wrap">
      <div class="talk-page__title">
        <h1 class="page-title">
          {{ talkTitle }}
        </h1>
        <p class="talk-page-pronoun">{{ pronouns }}</p>
      </div>

      <p class="talk-page__subtitle">
        {{ speaker }}
      </p>
    </div>

    <div class="talk-page__picture-wrap">
      <picture class="talk-page__picture">
        <source srcset="{{ profilePhoto }}" media="(orientation: portrait)">
        <img src="{{ profilePhoto }}" alt="{{ profilePhotoAltText }}">
      </picture>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="columns columns-two-thirds">
    <div class="column-one">
      <div class="text-indent accent-border accent-border--light">
        <p>
          <strong>About this talk</strong>
        </p>
        {{ talkExcerpt | safe }}
      </div>
    </div>

    <aside class="column-two">
      {%- for speaker in collections.speakers2024 -%}
        {% if speakerKey === speaker.page.fileSlug %}
          {{ card(speaker, horizontal='true') }}
        {% endif %}
      {%- endfor -%}

      {%if talkStartTime %}
        <div class="card">
          <p>
            <time datetime="{{ talkStartTime | iso8601Date }}">{{ talkStartTime | readableDate }}</time><br>
            {{ talkStartTime | readableTime }} - {{ talkEndTime | readableTime }}
          </p>
        </div>
      {% endif %}
    </aside>
  </div>
{% endblock %}