{% extends 'layouts/page-foundation-long-form.njk' %}
{% from 'partials/card-profile.njk' import card %}

{% set contentType = contentType %}
{% set title = talkTitle + ' by ' + speaker %}
{% set description = talkExcerpt %}

{%- css %}
{% include "css/components/talk-page.css" %}
{% include "css/components/video.css" %}
{% include "css/components/card-profile.css" %}
{% endcss %}

{% block pageHeader %}
  <div class="title-block-text__primary">
    <h1 class="page-title">
      {{ talkTitle }}
    </h1>
  </div>

  <p class="title-block-text__secondary">
    {{ speaker }}
  </p>

  <p>
    {%if talkStartTime %}
      {{ talkStartTime | readableTime }} - {{ talkEndTime | readableTime }} on
      <time datetime="{{ talkStartTime | iso8601Date }}">{{ talkStartTime | readableDate }}</time>, 
    {% endif %}
    {{ event }}
  </p>
{% endblock %}

{% block content %}
  {%- if talkRecordingID -%}
    <div class="video-wrapper">
      <iframe width="560" height="315" src="{{ 'https://www.youtube-nocookie.com/embed/' + talkRecordingID }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  {%- endif -%}

  <div class="columns columns-two-thirds talk-page__information">
    <div class="column-one">
      <div class="text-indent accent-border accent-border--light">
        <p>
          <strong>About this talk</strong>
        </p>
        {{ talkExcerpt | safe }}
      </div>
    </div>

    <aside class="column-two">
      <ul class="cards">
        {%- for speaker in collections.speakers | getSpeakersOfTalk(speakerKey) -%}
          {{ card(speaker, horizontal='true') }}
        {%- endfor -%}
      </ul>
    </aside>
  </div>

  {%- if content -%}
    <div id="transcript" class="card columns columns-two-thirds talk-page__transcript-wrapper">
      <div class="column-one talk-page__transcript">
        <h2>Transcript</h2>
        {{ content | safe }}
      </div>
    </div>
  {%- endif -%}
{% endblock %}