{% extends 'layouts/base.njk' %}
{% from 'partials/card.njk' import card %}

{% set contentType = contentType %}
{% set title = fullName + ' - ' + role + ' of NZ Tech Rally' %}
{% set pageIcon = 'person' %}

{%- css %}
{% include "css/components/profile-links.css" %}
{% include "css/components/profile-card.css" %}
{% endcss %}

{% block pageHeader %}
  <h1 class="section-title">
    {{ fullName }}
    {% svg "person_outline" %}
  </h1>
{% endblock %}

{% block content %}
  <article class="columns columns-thirds">
    <header class="column-one card profile-card accent-border">
      <picture class="profile-card__picture">
        <source srcset="{{ profilePhoto }}" media="(orientation: portrait)">
        <img src="{{ profilePhoto }}" alt="{{ profilePhotoAltText }}">
      </picture>

      <div class="profile-card__info">
        <p class="card-title profile-card__name">
          {{ fullName }}
        </p>

        <p>
          {{ jobTitle }}
          {% if organisation %}
            @ {{ organisation }}
          {% endif %}
        </p>

        {% if role %}
          <p>
            <strong>NZ Tech Rally's {{ role }}</strong>
          </p>
        {% endif %}
      </div>
    </header>

    <div class="column-two card">
      {{ bio | safe }}
    </div>

    <aside class="column-three">
      <ul class="profile-links">
        {% for profile in profileUrl %}
          <li class="accent-border profile-link__item">
            <a class="profile-link" href="{{ profile.url }}" rel="external">
              {{ profile.name }}
              {% svg profile.icon %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </aside>
  </article>
{% endblock %}