"@type": "Event",
"url": "{{ site.url }}",
"name": "{{ EVENT_2023.title }}",
"description": "{{ EVENT_2023.description }}",
"startDate": "{{ EVENT_2023.startDate }}",
"endDate": "{{ EVENT_2023.endDate }}",
"eventAttendanceMode": "{{ EVENT_2023.eventAttendanceMode }}",
"eventStatus": "{{ EVENT_2023.eventStatus }}",
"maximumAttendeeCapacity": "{{ EVENT_2023.maximumAttendeeCapacity }}",
"remainingAttendeeCapacity": "{{ EVENT_2023.remainingAttendeeCapacity }}",
"location": {
  "@type": "Place",
  "name": "{{ EVENT_2023.location.name }}",
  "address": {
    "@type": "PostalAddress",
    "name": "{{ EVENT_2023.location.address.name }}",
    "streetAddress": "{{ EVENT_2023.location.address.streetAddress }}",
    "addressLocality": "{{ EVENT_2023.location.address.addressLocality }}",
    "postalCode": "{{ EVENT_2023.location.address.postalCode }}",
    "addressRegion": "{{ EVENT_2023.location.address.addressRegion }}",
    "addressCountry": "NZ"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": "{{ EVENT_2023.location.geo.latitude }}",
    "longitude": "{{ EVENT_2023.location.geo.longitude }}"
  }
},
"image": [
  {
    "@type": "ImageObject",
    "url": "{{ site.image }}",
    "description": "{{ site.imageAlt }}",
    "width": "{{ site.imageWidth }}",
    "height": "{{ site.imageHeight }}"
  }
],
"organizer": [
  {
    "@type": "Organization",
    "name": "{{ site.title }}",
    "url": "{{ '/about' | absoluteUrl(site.url) }}"
  }
],
"inLanguage": [
  {
    "@type": "Language",
    "name": "en-NZ"
  }
],
"translator": {
  "@type": "Organization",
  "name": "",
  "url": ""
},
"offers": [
  {
    "@type": "Offer",
    "url": "{{ EVENT_2023.ticketUrl }}",
    "availability": "{{ EVENT_2023.ticketAvaiability }}",
    "validFrom": "{{ EVENT_2023.ticketEarlyBirdStarts }}",
    "validThrough": "{{ EVENT_2023.ticketEarlyBirdEnds }}",
    "price": "{{ EVENT_2023.ticketEarlyBirdPrice }}",
    "priceCurrency": "NZD"
  },
  {
    "@type": "Offer",
    "url": "{{ EVENT_2023.ticketUrl }}",
    "availability": "{{ EVENT_2023.ticketAvaiability }}",
    "validFrom": "{{ EVENT_2023.ticketSaleStarts }}",
    "validThrough": "{{ EVENT_2023.ticketSaleEnds}}",
    "price": "{{ EVENT_2023.ticketPrice }}",
    "priceCurrency": "NZD"
  }
],
"performer": [
  {
    "@type": "Person",
    "name": "Adam Howard"
  },
  {
    "@type": "Person",
    "name": "Aleisha Amohia"
  },
  {
    "@type": "Person",
    "name": "Allen Geer"
  },
  {
    "@type": "Person",
    "name": "Erica Anderson"
  },
  {
    "@type": "Person",
    "name": "Jade Thomas"
  },
  {
    "@type": "Person",
    "name": "Jenny Sahng"
  },
  {
    "@type": "Person",
    "name": "Katrina Clokie"
  },
  {
    "@type": "Person",
    "name": "Mrinal Mukherjee"
  }
],
"sponsor": [
  {
    "@type": "Organization",
    "name": "",
    "url": ""
  }
]
