---
permalink: _redirects
eleventyExcludeFromCollections: true
---

# Domain level redirects

http://nztechrally.com/_ https://nztechrally.nz/:splat 301!
https://nztechrally.com/_ https://nztechrally.nz/:splat 301!
