---
tags: page
title: About
description: NZ Tech Rally's vision, mission, values, and team members.
eleventyNavigation:
  key: About
  order: 3
---
{% extends 'layouts/base.njk' %}
{% from 'partials/card-team.njk' import card %}

{% block content %}
  <main id="mainContent">
    <section>
      <div class="section-label accent-border">
        <h2 class="section-title">Vision</h2>
      </div>
      <div class="card accent-border">
        <p>We want to create a culture where NZ software engineers share their expertise and experience to grow the community together.</p>
      </div>
    </section>
    
    <section>
      <div class="section-label accent-border">
        <h2 class="section-title">Mission</h2>
      </div>

      <div class="card accent-border">
        <p>We want to become the ultimate community platform, where we discuss the hottest trends and biggest problems in NZ software engineering, and grow together.</p>
        <p>We will provide opportunities to showcase NZ ingenuity in software engineering through conferences, smaller events, and online content.</p>
        <p>We want the NZ engineering community to be inspired by how other local companies and engineers are thriving. We're keen to hear kiwis share how they address different engineering concerns in the NZ context, and feel empowered to try those solutions out at their organisations.</p>
      </div>
    </section>

    <section>
      <div class="section-label accent-border">
        <h2 class="section-title">Meet our team</h2>
      </div>

      <ul class="cards profiles">
        {% for team in collections.team %}
          {{ card(team) }}
        {% endfor %}
      </ul>
    </section>
  </main>
{% endblock %}
