---
tags: page
title: About
description:
eleventyNavigation:
  key: About
  order: 2
---
{% extends 'layouts/base.njk' %}

{% block content %}
  <main id="mainContent" class="content-wrapper">
    <p class="content-block">More info is coming soon</p>
  </main>
{% endblock %}
