---
tags: page
title: Call for proposals due 27th June 2024
description: You could be speaking at NZ Tech Rally 2024 in November!
eleventyNavigation:
  key: CFP
  order: 1
featuredImage: /assets/images/og-share_CFP_2024.png
featuredImageAlt: "NZ Tech Rally. Resilience of people, communities, and organisations in the Aotearoa software industry. Submit a talk to speak on 22nd November 2024 @ Tākina, Wellington"
featuredImageType: png
featuredImageWidth: 1200
featuredImageHeight: 630
eleventyExcludeFromCollections: true
---

{% extends 'layouts/page-foundation.njk' %}
{% from 'partials/card-profile.njk' import card %}

{%- css %}
{% include "css/components/card-profile.css" %}
{% endcss %}

{% block pageHeader %}
  <h1 class="section-title">
    {{ title }}
  </h1>
{% endblock %}

{% block content %}
  <section>
    <div class="section-label accent-border">
      <h2 class="section-title" id="theme">Conference theme for 2024</h2>
    </div>

    <div class="text-indent">
      <p>
        <strong>Resilience of people, communities, and organisations in the Aotearoa software industry.</strong>
      </p>
      <p>
        We’ve experienced tough times in the last couple of years: over-hiring, aggressive growth, burnout, redundancies, reduced budgets, recession, and closures.
      </p>
      <p>
        Our organisations and individuals can learn a lot from this experience, and prepare ourselves for the next cycle of disruption.
      </p>
      <p>
        We want to hear real stories and practical advice from Kiwis around Aotearoa. 
      </p>
      <ul>
        <li>Were you impacted? What was it like?</li>
        <li>Was there a silver lining? What’s hopeful about the future?</li>
        <li>How did you adapt or pivot? What helped?</li>
        <li>Did you have to make tough decisions? What would you have done differently?</li>
        <li>What does your career/team/organisation/community/product look like today?</li>
      </ul>
      <p>
        Let's rally the NZ software industry together to become more resilient for 2025 and beyond.
      </p>

      <p>
        <strong>Talk submissions closed. Thank you for sending us your wonderful ideas!</strong>
      </p>
    </div>
  </section>

  <section>
    <div class="section-label accent-border">
      <h2 class="section-title">Talk length</h2>
    </div>

    <div class="text-indent">
      <p>
        25 minutes will be allocated for your talk. <br>
        There is no on-stage Q&A. This will be encouraged at break-out sessions.
      </p>
    </div>
  </section>

  <section>
    <div class="section-label accent-border">
      <h2 class="section-title">Location</h2>
    </div>

    <div class="text-indent">
      <p>
        Rongomātāne Plenary Hall One (max 600 people),<br>
        <a href="https://maps.app.goo.gl/Jn7uhPw5sd5P9M2d6" rel="external">Tākina</a>, 50 Cable Street, Wellington
      </p>
    </div>
  </section>

  <section>
    <div class="section-label accent-border">
      <h3 class="section-title" id="timeline">Timeline</h3>
    </div>
    <div class="text-indent">
      <table class="table">
        <caption>
          A timeline of when CFP and speaker related activities are happening.
        </caption>
        <thead>
          <tr>
            <th>Date</th>
            <th>Activity</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="table-date-cell">27 June</td>
            <td>CFP closes
            </td>
          </tr>

          <tr>
            <td class="table-date-cell">2-5 July</td>
            <td>Shortlisted applicants notified
            </td>
          </tr>

          <tr>
            <td class="table-date-cell">2-14 July</td>
            <td>Calls with shortlisted applicants
            </td>
          </tr>

          <tr>
            <td class="table-date-cell">15 July</td>
            <td>Speaker onboarding
            </td>
          </tr>

          <tr>
            <td class="table-date-cell">26 July</td>
            <td>Unsuccessful applicants notified
            </td>
          </tr>

          <tr>
            <td class="table-date-cell">26 July</td>
            <td>
              Publishing-ready talk information due.<br>
              Speaker profile gets updated on the website as soon as we receive it.
            </td>
          </tr>

          <tr>
            <td class="table-date-cell">19 August</td>
            <td>Speaking order and event schedule published</td>
          </tr>

          <tr>
            <td class="table-date-cell">19 August</td>
            <td>Talk promotion on social media starts</td>
          </tr>

          <tr>
            <td class="table-date-cell">21 October</td>
            <td>Talk and slides check-in</td>
          </tr>

          <tr>
            <td class="table-date-cell">10 November</td>
            <td>
              Draft slides due.<br>
              Slides will be gathered into master Google Slides, which can still be edited up to conference day.
            </td>
          </tr>
          <tr>
            <td class="table-date-cell">22 November</td>
            <td>Conference day</td>
          </tr>
          <tr>
            <td class="table-date-cell">4 December</td>
            <td>Invoice and travel expense receipts due</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <section>
    <div class="section-label accent-border">
      <h2 class="section-title">Compensation</h2>
    </div>

    <div class="text-indent">
      <p>
        Sharing knowledge with the community shouldn’t be a privilege of those who can afford it. We know that planning a good talk takes a lot of time and love. 
      </p>
      <p>
        We’ve worked hard to start compensating speakers for some of your time this year. Things we can compensate each confirmed speaker: 
      </p>
      <ul>
        <li>
          $500 (GST exclusive) speaking fee per delivered talk
        </li>
        <li>
          Up to $200 (GST inclusive) of pre-approved domestic travel expenses
        </li>
        <li>
          A free ticket to NZ Tech Rally 2024
        </li>
        <li>
          Full resolution photographs of you delivering your talk
        </li>
        <li>
          Public video of your talk; captioned, transcribed, and posted on our <a href="{{ site.youtube }}" rel="external">YouTube channel</a>
        </li>
      </ul>
    </div>
  </section>

  <section>
    <div class="section-label accent-border">
      <h2 class="section-title">Why in-person talks only?</h2>
    </div>

    <div class="text-indent">
      <p>
        Due to our limited resources, we’re unable to facilitate live remote presentations (speaking or attending). We’re asking all speakers to speak in-person this year.  
      </p>
      <p>
        We do hope to be able to offer more flexibility in the future.
      </p>
    </div>
  </section>

  <section>
    <div class="section-label accent-border">
      <h2 class="section-title">Support we provide</h2>
    </div>

    <div class="text-indent">
      <p>
        <a class="button" href="{{ '/how-to-respond-to-cfp' | url }}" rel="external">Read our guide crafting a CFP for NZ Tech Rally</a>
      </p>

      <h3>Get help with CFP</h3>
      <p>
        Reach out to our friendly crew at <a href="mailto:speak@nztechrally.nz" rel="external">speak@nztechrally.nz</a> to chat with someone about your ideas. 
      </p>

      <h3>Talk preparation and practice</h3>
      <p>Preparation support we offer includes:</p>
      <ul>
        <li>Up-to-date information about the event, tech setup, access, and etc.</li>
        <li>Brainstorming and firming up ideas</li>
        <li>Pitch, slides and script review</li>
        <li>One-on-one practice sessions (or group if preferred)</li>
        <li>Accessibility check</li>
      </ul>
    </div>
  </section>
{% endblock %}