---
tags: page
title: Code of conduct
pageIcon: info
description: The things we agree to do as a communtiy participant
eleventyExcludeFromCollections: true
excludefromSearch: true
---
{% extends 'layouts/base.njk' %}

{% block pageHeader %}
  <div class="section-label section-label--header accent-border">
    <h1 class="section-title">
      {{ title }} {% svg pageIcon %}
    </h1>
  </div>
{% endblock %}

{% block content %}
  <main id="mainContent">
    <div class="card accent-border">
      <p>
        <strong>NZ Tech Rally</strong> is committed to providing a harassment-free conference experience for everyone. We do not tolerate harassment or intimidation of any kind from any member of the audience, speakers, volunteers or the wider community
      </p>
      <p>
        The harassment-free policy also applies to sponsors.
      </p>
      <p>
        Harassment includes, but is not limited to:
      </p>
      <ul>
        <li>
          <p>
            Verbal (in-person or online) comments that relate to race, age, religion, disability, physical appearance, body size, gender, gender identity or sexual orientatio
          </p>
        </li>
        <li>
          <p>
            Sexual language or imagery
          </p>
        </li>
        <li>
          <p>
            Deliberate intimidation, stalking and followin
          </p>
        </li>
        <li>
          <p>
            Harassing photography and recordin
          </p>
        </li>
        <li>
          <p>
            Sustained disruption of talks or other event
          </p>
        </li>
      </ul>
      <p>
        Any participant that violates such rules is subject to a warning or expulsion from the conference <strong>with no refund</strong>.
      </p>
      <p>
        If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of core organisers immediately.
      </p>
    </div>
  </main>
{% endblock %}
