---
tags: page
title: How to respond to our CFP 101
description: Tips to create an appealing talk submission for NZ Tech Rally 2024 in November!
featuredImage: /assets/images/og-share_CFP-guide_2024.png
featuredImageAlt: "NZ Tech Rally. How to respond to our CFP 101. Submissions due 27th June 2024"
featuredImageType: png
featuredImageWidth: 1200
featuredImageHeight: 630
---

{% extends 'layouts/page-foundation.njk' %}
{% from 'partials/card-profile.njk' import card %}

{%- css %}
{% include "css/components/card-profile.css" %}
{% endcss %}

{% block pageHeader %}
  <h1 class="section-title">
    {{ title }}
  </h1>
{% endblock %}

{% block content %}
  <section>
    <div class="text-indent">
      <p>
       If you’ve never responded to a Call for Proposals (CFP) before, the process may appear to be confusing. This article is intended to show you what we at NZ Tech Rally are looking for in our CFPs, and hopefully demystify the process along the way.
      </p>
      <p>
        *Note, this advice is specific to our CFP process, and while some of it will be of general use, do note that each conference programme committee will have their own preferences.
      </p>
      <p>
        Let’s go through the process question by question.
      </p>
    </div>
  </section>

  <section>
    <div class="section-label accent-border">
      <h2 class="section-title">
        Theme
      </h2>
    </div>

    <div class="text-indent">
      <p>
        The first thing you’ll notice is our theme. NZ Tech Rally events are often strongly themed and we are looking for submissions that align to our theme. 
      </p>
      <p>
        That said, the intention isn’t that your talk submission literally is about the theme. 
      </p>
      <p>
        We encourage lateral thinking and a variety of topics. So think about the intention of the theme. Does your talk still meet the spirit of the theme, even if it doesn’t meet the literal letter of the theme? 
      </p>
      <p>
        <strong>Don’t let a topic that doesn’t quite match the theme of the conference put you off from submitting.</strong> Let us be the judge. We may even have some ideas to help you align more to the theme if we love your idea.
      </p>
    </div>
  </section>

  <section>
    <div class="section-label accent-border">
      <h2 class="section-title">Title</h2>
    </div>

    <div class="text-indent">
      <p>
        Should be short, snappy, and encapsulate what the talk is about, and what the tone is. If the audience can see nothing else but your talk title, would they know enough or be enticed to pay to watch your talk?
      </p>
      <p>
        It’s probably easiest to do this part last.
      </p>

      <h3>
        Example
      </h3>
      <p>
        Accessible by default: How to get there, and make it last
      </p>
    </div>
  </section>

  <section>
    <div class="section-label accent-border">
      <h2 class="section-title">Elevator pitch</h2>
    </div>

    <div class="text-indent">
      <p>
        This is the snappy description of your presentation and will appear on our website if successful. 
      </p>
      <p>
        Don’t get into the weeds here. Think of it like a movie trailer; what kind of presentation is it (informative, interactive, etc) what’s the premise of the talk, what’s the central conflict, and how will that get resolved?
      </p>

      <h3>
        Example
      </h3>
      <p>
        Your team has been told to make your web app accessible in 12 months.
      </p>
      <p>
        Starting tomorrow!
      </p>
      <p> 
        You may have been interested in accessibility before. You suspect that HTML5 will get you close. You’re vaguely aware of tabbing through the app.
      </p>
      <p>
        But surely, there's more to it? What does it really take to make an accessible site?
      </p>
      <p>
        Spoiler: It’s a cultural shift
      </p>
      <p>
        This is a practical guide on how to become an accessible digital product team.
      </p>
    </div>
  </section>

  <section>
    <div class="section-label accent-border">
      <h2 class="section-title">Describe what the presentation is about</h2>
    </div>

    <div class="text-indent">
      <p>
        This won’t get published but is for us to understand what the talk is really about and how it will be structured. 
      </p>
      <p>
        Please tell us what the presentation is about, what the structure of the presentation is, why you think it is interesting, who is your target audience and what the takeaways for the audience would be.  It is probably easiest to do this part first, and it requires the least wordsmithing. That said, the programme committee are humans too, so this section should still sound enticing!
      </p>
      <p>
        There are a lot of great resources online to help you as well, so google around for more tips.
      </p>
    </div>
  </section>

  <section>
    <div class="section-label accent-border">
      <h2 class="section-title">What happens if you’ve been shortlisted</h2>
    </div>

    <div class="text-indent">
      <p>
        If you are shortlisted, you will be invited to a 30min discussion. 
      </p>
      <p>
        <strong>This is not an interview.</strong> This is literally a chance for you to explain your idea again in an informal and relaxed setting. We might offer our thoughts on how it may align to the theme better, or our idea of how we think the programme is shaping up. 
      </p>
      <p>
        Good luck, and have fun with it! Relax and let your personality shine through your submission.
      </p>
    </div>
  </section>

  <section>
    <div class="section-label accent-border">
      <h2 class="section-title">Support</h2>
    </div>

    <div class="text-indent">
      <h3>Get help with CFP</h3>
      <p>
        Reach out to our friendly team at <a href="mailto:speak@nztechrally.nz" rel="external">speak@nztechrally.nz</a> to chat with someone about your ideas. 
      </p>

      <h3>Talk preparation and practice</h3>
      <p>Preparation support we offer includes:</p>
      <ul>
        <li>Up-to-date information about the event, tech setup, access, and etc.</li>
        <li>Brainstorming and firming up ideas</li>
        <li>Pitch, slides and script review</li>
        <li>One-on-one practice sessions (or group if preferred)</li>
        <li>Accessibility check</li>
      </ul>
    </div>
  </section>

  <section>
    <div class="text-indent">
      <p>Did all that help? Are you feeling more confident?</p>
      <a class="button" href="{{ nztr2024.cfpUrl }}" rel="external">Send us your idea!</a>
    </div>
  </section>
{% endblock %}