---
tags: page
eleventyNavigation:
  key: Home
  order: 1
---
{% extends 'layouts/base.njk' %}

{% block content %}
  <main id="mainContent">
    <section>
      <div class="section-label accent-border">
        <h2 class="section-title">About</h2>
      </div>

      <div class="card accent-border">
        <p>
          NZ Tech Rally aims to become the ultimate community platform, where we discuss the hottest trends and biggest problems in NZ software engineering, and grow together.
        </p>
        <p>For now... we're starting with a conference!</p>
      </div>
    </section>

    <section>
      <div class="section-label accent-border">
        <h2 class="section-title">Conference theme</h2>
      </div>

      <div class="card accent-border">
        <p>
          What does great engineering culture look like, and how have kiwis done it?
        </p>
      </div>
    </section>

    <section>
      <div class="section-label accent-border">
        <h2 class="section-title">When</h2>
      </div>

      <div class="card accent-border">
        <p>
          <time datetime="2023-07-07">Friday 7th July 2023</time><br>
          <time datetime="09:00">9am</time>—<time datetime="17:00">5pm</time>
        </p>
      </div>
    </section>

    <section>
      <div class="section-label accent-border">
        <h2 class="section-title">Where</h2>
      </div>

      <div class="card accent-border">
        <p>
          Room RHLT1<br>
          <a href="https://goo.gl/maps/SVmz9Mq6xLK5DMrXA" rel="external">Rutherford House</a><br>
          <a href="https://www.wgtn.ac.nz/about/campuses-facilities/campuses/pipitea/pipitea-map.pdf" rel="external">Pipitea Campus</a><br>
          Victoria University of Wellington<br>
          New Zealand
        </p>
      </div>
    </section>

    <section>
      <div class="section-label accent-border">
        <h2 class="section-title">Speakers</h2>
      </div>

      <div class="card accent-border">
        Coming soon
      </div>
    </section>

    <section>
      <div class="section-label accent-border">
        <h2 class="section-title">Panelists</h2>
      </div>

      <div class="card accent-border">
        Coming soon
      </div>
    </section>
  </main>
{% endblock %}
