---
tags: page
---
{% extends 'layouts/base.njk' %}
{% from 'partials/card-speaker.njk' import card %}

{% set contentType = 'home' %}

{%- css %}
  {% include "css/components/profile-card.css" %}
{% endcss %}

{% block content %}
  <main id="mainContent">
    <div class="columns columns-half">
      <picture class="column-two section-label accent-border hero hero--home">
        <img 
          src="{{ '/assets/images/hero-home.jpg' | url }}"
          alt=""
        />
      </picture>

      <div class="column-one">
        <section>
          <div class="section-label accent-border">
            <h2 class="section-title">
              About {% svg "info" %}
            </h2>
          </div>

          <div class="card accent-border">
            <p>
              NZ Tech Rally aims to become the ultimate community platform, where we discuss the hottest trends and biggest problems in NZ software engineering, and grow together.
            </p>
            <p>For now... we're starting with a conference!</p>
          </div>
        </section>

        <section>
          <div class="section-label accent-border">
            <h2 class="section-title">
              When {% svg "calendar" %}
            </h2>
          </div>

          <div class="card accent-border">
            <p>
              <time datetime="2023-07-07">Friday 7th July 2023</time><br>
              <time datetime="09:00">9am</time>—<time datetime="17:00">5pm</time>
            </p>
          </div>
        </section>

        <section>
          <div class="section-label accent-border">
            <h2 class="section-title">
              Where {% svg "location" %}
            </h2>
          </div>

          <div class="card accent-border">
            <p>
              Room RHLT1<br>
              <a href="https://goo.gl/maps/SVmz9Mq6xLK5DMrXA" rel="external">Rutherford House</a><br>
              <a href="https://www.wgtn.ac.nz/about/campuses-facilities/campuses/pipitea/pipitea-map.pdf" rel="external">Pipitea Campus</a><br>
              Victoria University of Wellington<br>
              New Zealand
            </p>
          </div>
        </section>
      </div>
    </div>

    <section>
      <div class="section-label accent-border">
        <h2 class="section-title">
          Conference theme {% svg "sparkles" %}
        </h2>
      </div>

      <div class="card accent-border">
        <p>
          What does great software engineering culture look like, and how have Kiwis done it?
        </p>
      </div>
    </section>

    <section>
      <div class="section-label section-label--header accent-border">
        <h2 class="section-title">
          Speakers {% svg "person_outline" %}
        </h2>
      </div>

      <ul class="cards profiles">
        {% for speaker in collections.speakers %}
          {{ card(speaker) }}
        {% endfor %}
      </ul>
    </section>

    <section>
      <div class="section-label section-label--header accent-border">
        <h2 class="section-title">
          Panelists {% svg "people_outline" %}
        </h2>
      </div>

      <div class="card accent-border">
        Coming soon
      </div>
    </section>

    <div class="section-label section-label--header accent-border">
      <h2 class="section-title">
        Sponsors {% svg "sparkles" %}
      </h2>
    </div>

    <div class="card accent-border">
      <p>We're looking! If you're interested in helping our cause, please head over to the <a href="{{ '/sponsor' | url }}">sponsor information page</a>, or send it to someone who would be able to help!</p>
    </div>
  </main>
{% endblock %}
