---
tags: page
title: Newsletter subscription confirmed
description: Thank you for subscribing. See you at one of our events!
eleventyExcludeFromCollections: true
excludefromSearch: true
excludeNewsletterSignup: true
excludeSponsors: true
---
{% extends 'layouts/base.njk' %}

{% block pageHeader %}
  <h1 class="section-title">
    {{ title }}
    {% if pageIcon %}{% svg pageIcon %}
    {% endif %}
  </h1>
{% endblock %}

{% block pageItro %}
  <div class="text-indent">
    <p class="header-description">{{ description }}</p>
  </div>
{% endblock %}