---
tags: page
title: Privacy policy
description: What information we collect, why, how, and our attitude towards it.
eleventyExcludeFromCollections: true
excludefromSearch: true
---
{% extends 'layouts/base.njk' %}

{% block pageHeader %}
  <h1 class="section-title">
    {{ title }}
  </h1>
{% endblock %}

{% block pageItro %}
  <div class="text-indent">
    <p>
      We value your privacy and only collect the information necessary to help us tailor and distribute our content. Your personal information will not be passed on to vendors or sponsors without your permission.
    </p>
    <p>
      We will not misuse the information collected. In the interest of transparency, we disclose what information we are consciously tracking, how we are doing it, and why we are doing it at all.
    </p>
  </div>
{% endblock %}

{% block content %}
  <div class="section-label accent-border">
    <h2 class="section-title" id="whatAndHowWeTrack">
      What and how we track
    </h2>
  </div>

  <section>
    <div class="section-label accent-border">
      <h3 class="section-title" id="website">Website</h3>
    </div>

    <div class="text-indent">
      <h4>What we know</h4>
      <ul>
        <li>Number of site/page visits</li>
        <li>Average time spent on the website</li>
        <li>Countries visitors are from</li>
        <li>How people arrive at the site (e.g. clicking on a campaign link from Facebook, LinkedIn, etc.)</li>
        <li>Device, browser, and/or app used to view the site.</li>
      </ul>
      <p>
        We cannot determine anyone's personal identity based on this information. None of the site analytics tools we use allows us to filter statistics by user or user flow.
      </p>
      <p>
        For instance, we do not know if the person who landed on our homepage also clicked on another page. Additionally, we do not know if they are one of the 20 people from New Zealand or which device they are using. We only have individual totals of each statistic, without any information about their relationship with one another.
      </p>

      <h4>Website tracking tool</h4>
      <p>We use <a href="https://usefathom.com/" rel="external">Fathom Analytics</a>, privacy-focused web analytics.</p>
      <p>We like their principle and how simple it is to set up.</p>
      <p>Since the platform itself is focused on privacy, we can't track more than what we’re tracking now, even if we wanted to. It’s a nice safety net.</p>
      <p>Lastly, Fathom is GDPR compliant, meaning that we don't need to put annoying cookie acceptance banners on the site. We believe this provides a more excellent browsing experience.</p>
      <p>For more information, please see <a href="https://usefathom.com/privacy" rel="external">Fathom's privacy policy</a>.</p>
    </div>
  </section>

  <section>
    <div class="section-label accent-border">
      <h3 class="section-title" id="socialMedia">Social media</h3>
    </div>

    <div class="text-indent">
      <p>
        We mainly use LinkedIn, and Youtube. These platforms have built-in analytics, which will tell us the following:
      </p>
      <ul>
        <li>The number of views, reshares, links, etc.</li>
        <li>Users who interacted with our posts/page</li>
        <li>Users who are planning to attend our events published on those platforms</li>
      </ul>
      <p>
        They could tell us more, but we don’t intend to take data out of these platforms or use it anywhere else.
      </p>
    </div>
  </section>

  <section>
    <div class="section-label accent-border">
      <h3 class="section-title" id="emailNewsletter">Email newsletter</h3>
    </div>

    <div class="text-indent">
      <p>
        We’re using <a href="https://emailoctopus.com/" rel="external">EmailOctopus</a> to manage our email newsletter and <a href="https://mailchimp.com/" rel="external">Mailchimp</a> to manage event-specific mailing list signup from Lil Regie.
      </p>
      <p>
        Once we have funding, we’ll of course, simplify it. But please bear with us for now.
      </p>
      <p>These platforms generally tell us:</p>
      <ul>
        <li>Email and other information people gave us when they subscribed</li>
        <li>How many people open our email</li>
        <li>Who hit unsubscribe</li>
      </ul>
      <p>More about <a href="https://emailoctopus.com/legal/privacy" rel="external">EmailOctopus' privacy policy</a>, and <a href="https://www.intuit.com/privacy/statement/" rel="external">Mailchimp/Intuit privacy policy</a> on their website.</p>
    </div>
  </section>

  <section>
    <div class="section-label accent-border">
      <h3 class="section-title" id="registrationInfo">Registration information</h3>
    </div>

    <div class="text-indent">
      <p>
        We have various forms for people to purchase tickets, sign up as a volunteer, register as a speaker, and more. These forms require personal information such as email addresses and names.
      </p>
      <p>
        This information is used solely for the purpose for which you provided it. For example:
      </p>
      <ul>
        <li>If you purchase tickets for an event, we will only use your information to facilitate your attendance at that event.</li>
        <li>If you are registering as a volunteer, we will only use your information to manage you as a volunteer.</li>
      </ul>
    </div>
  </section>

  <section>
    <div class="section-label accent-border">
      <h3 class="section-title" id="eventDocumentation">Event documentation</h3>
    </div>

    <div class="text-indent">
      <p>
        When you attend our events, photos and videos may be taken for promotional use at a later time. By attending our events in person, you have agreed to this.
      </p>
      <p>
        We will do our best to respect your wish not to be photographed or filmed by providing a mechanism for you to identify yourself at the event. However, please keep in mind that our media crew may not always be able to avoid you.
      </p>
    </div>
  </section>

  <div class="section-label accent-border">
    <h2 class="section-title" id="whyWeTrack">
      Why we track
    </h2>
  </div>

  <section>
    <div class="section-label accent-border">
      <h3 class="section-title" id="howPeopleFindUs">Understand how people found us.</h3>
    </div>

    <div class="text-indent">
      <p>
        As a small team starting a new platform, it is helpful for us to know how people are landing on this site. Did they click on a social media post or stumble upon it in their work chat?
      </p>
      <p>
        We have opened a few social media accounts for this platform, hoping to find the best way to reach the community. However, keeping all those accounts up-to-date for an extended period can be exhausting.
      </p>
      <p>
        Eventually, we will focus on sharing on the platforms where people seem to be most engaged with the community. To determine which one that is, we will add tracking to links we share on other platforms. Once we know, we can cut down on this kind of link tracking.
      </p>
    </div>
  </section>

  <section>
    <div class="section-label accent-border">
      <h3 class="section-title" id="tailerContent">Tailor content to suit your growth.</h3>
    </div>

    <div class="text-indent">
      <p>
        You will like and dislike the content we post, and that is normal. But we want to ensure that the content we're putting out is engaging and valuable for your personal development.
      </p>
      <p>
        For example, if everyone seems to be commenting on a specific software engineering topic, we will endeavour to find knowledgeable speakers or writers who can contribute to the discussion.
      </p>
    </div>
  </section>

  <section>
    <div class="section-label accent-border">
      <h3 class="section-title" id="getSponsorship">Get sponsorship or support for hosting costs.</h3>
    </div>

    <div class="text-indent">
      <p>
        Sponsors are more likely to be generous when they know the aggregate numbers, such as how many attendees and subscribers there are.
      </p>
      <p>
        As mentioned, we will not share anything that can be personally identifiable.
      </p>
    </div>
  </section>
{% endblock %}