---
tags: page
title: Sales policy
description: 
eleventyExcludeFromCollections: true
excludefromSearch: true
---
{% extends 'layouts/page-foundation.njk' %}

{% block pageHeader %}
  <h1 class="section-title">
    {{ title }}
  </h1>
{% endblock %}

{% block content %}
  <section>
    <div class="section-label accent-border">
      <h2 class="section-title">No ticket refund</h2>
    </div>
    <div class="text-indent">
      <p>
        We are sorry, but we cannot offer refunds on tickets sold.
      </p>
      <p>
        However, you can <a href="https://help.humanitix.com/en/articles/8888509-i-need-to-change-the-details-of-my-order-tickets" rel="external">transfer your ticket to someone else</a> up to 48 hours before the event.
      </p>
    </div>
  </section>
{% endblock %}