---
tags: page
title: Schedule
largeTitle: true
description: Schedule for NZ Tech Rally Conference on 7th July 2023
hideDescription: true
eleventyNavigation:
  key: Schedule
  order: 2
---
{% extends 'layouts/base.njk' %}

{% block content %}
  <main id="mainContent">
    <section>
      <div class="card accent-border">
        <p>08:00 - 09:00 <br>Registration</p>
      </div>
      <div class="card accent-border">
        <p>09:00 - 09:10 <br>Opening remarks</p>
      </div>
      <div class="card accent-border">
        <p>09:10 - 09:50 <br>Keynote</p>
      </div>
      <div class="card accent-border">
        <p>10:00 - 10:30 <br>Talk 1</p>
      </div>
      <div class="card accent-border">
        <p>10:30 - 11:00 <br>Morning tea</p>
      </div>
      <div class="card accent-border">
        <p>11:00 - 11:25 <br>Talk 2</p>
      </div>
      <div class="card accent-border">
        <p>11:30 - 12:00 <br>Talk 3</p>
      </div>
      <div class="card accent-border">
        <p>12:00 - 12:50 <br>Lunch</p>
      </div>
      <div class="card accent-border">
        <p>13:00 - 13:50 <br>Panel discuss - What does great software engineering culture look like, and how have kiwis done it?</p>
      </div>
      <div class="card accent-border">
        <p>14:00 - 14:30 <br>Talk 4</p>
      </div>
      <div class="card accent-border">
        <p>14:30 - 14:50 <br>Afternoon tea</p>
      </div>
      <div class="card accent-border">
        <p>15:00 - 15:30 <br>Talk 5</p>
      </div>
      <div class="card accent-border">
        <p>15:30 - 16:00 <br>Talk 6</p>
      </div>
      <div class="card accent-border">
        <p>16:00 - 16:20 <br>Quiz</p>
      </div>
      <div class="card accent-border">
        <p>16:20 - 16:50 <br>Lightning talks</p>
      </div>
      <div class="card accent-border">
        <p>16:50 - 17:00 <br>Closing remarks</p>
      </div>
      <div class="card accent-border">
        <p>17:00 onwards <br>After party</p>
      </div>
    </section>
  </main>
{% endblock %}
