---
tags: page
title: Schedule
description: Schedule for NZ Tech Rally Conference on 7th July 2023
eleventyNavigation:
  key: Schedule
  order: 2
---
{% extends 'layouts/page-foundation-long-form.njk' %}
{% block pageHeader %}
  <h1 class="section-title">
    {{ title }}
  </h1>
{% endblock %}

{% block content %}
  <div class="columns columns-half">
    <picture class="column-two section-label hero hero--schedule">
      <img src="{{ '/assets/images/hero-extra_2024.jpg' | url }}" alt="alt">
    </picture>

    <div class="column-one">
      <div class="text-indent">
        Coming soon
      </div>
    </div>

    <ul class="column-one">
      <li class="card">
        08:00 - 09:20 <br>Registration
      </li>
      <li class="card">
        09:20 - 09:45 <br>
        Opening remarks &amp; House keeping <br>
        <a href="{{ '/crew/aaron-hodder' | url }}">Aaron Hodder - Co-founder @ NZ Tech Rally</a>
      </li>
      <li class="card">
        9:45 - 10:15 <br>
        Speaker 1 - confirmed
        {# <strong>Keynote</strong> - Kiwiana &amp; Code: What is unique about engineering culture in Aotearoa New Zealand?<br>
        <a href="{{ '/speakers/katrina-clokie' | url }}">Katrina Clokie - CTO @ Fergus</a> #}</li>
      <li class="card">
        10:15 - 10:45 <br>
        Speaker 2 - confirmed
      </li>
      <li class="card">
        10:45 - 11:30 <br>
        Morning tea &amp; break-out discussion
      </li>
      <li class="card">
        11:30 - 12:00  <br>
        Speaker 3 - confirmed
      </li>
      <li class="card">
        12:00 - 12:30 <br>
        Speaker 4 - confirmed
      </li>
      <li class="card">
        12:30 - 13:30 <br>
        Lunch &amp; break-out discussion
      </li>
      <li class="card">
        13:30 - 14:00 <br>
        Speaker 5 - confirmed
      </li>
      <li class="card">
        14:00 - 14:30 <br>
        Speaker 6 - confirmed
      </li>
      <li class="card">
        14:30 - 15:15 <br>
        Afternoon tea &amp; break-out discussion
      </li>
      <li class="card">
        15:15 - 16:15 <br>
        Panel discussion
      </li>
      <li class="card">
        16:15 - 16:40 <br>
        Quiz and giveaways
      </li>
      <li class="card">
        16:40 - 16:50 <br>
       Closing remarks<br>
        <a href="{{ '/crew/prae-songprasit' | url }}">Prae Songprasit - Co-founder @ NZ Tech Rally</a>
      </li>
      <li class="card">
        17:00 onwards <br>
        After socials
      </li>
    </ul>
  </div>
{% endblock %}