---
tags: page
title: Schedule
description: Schedule for NZ Tech Rally Conference on 22nd November 2024
eleventyNavigation:
  key: Schedule
  order: 2
---
{% extends 'layouts/page-foundation-long-form.njk' %}
{% block pageHeader %}
  <div class="title-block-text__primary">
    <h1 class="page-title">
      {{ title }}
    </h1>
  </div>
{% endblock %}

{% block content %}
  <div class="columns columns-two-thirds">
    <ul class="column-one">
      <li class="card">
        08:00 - 09:00 <br>Registration
      </li>
      <li class="card">
        09:00 - 09:15 <br>
        Opening remarks &amp; House keeping <br>
        <a href="{{ '/crew/aaron-hodder' | url }}">Aaron Hodder</a> - Co-founder @ NZ Tech Rally
      </li>
      <li class="card">
        9:15 - 10:00 <br>
        <a href="{{ '/talks/nztechrally2024/beyond-short-term' | url }}">
          <strong>Keynote</strong> Beyond short-term gains: Future-proofing Aotearoa's talent pipeline
        </a><br>
        <a href="{{ '/speakers/ruth-mcdavitt' | url }}">Ruth McDavitt</a> - CEO @ Summer of Tech
      </li>
      <li class="card">
        10:00 - 10:30 <br>
        <a href="{{ '/talks/nztechrally2024/leveraging-identity' | url }}">Leveraging your team's identity</a><br>
        <a href="{{ '/speakers/patricia-tan' | url }}">Patricia Tan</a> &amp; <a href="{{ '/speakers/rod-acevedo' | url }}">Rod Acevedo</a> - Senior product desinger &amp; Design Lead @ RUSH Digital
      </li>
      <li class="card">
        10:30 - 11:15 <br>
        Break-out activities with morning tea
      </li>
      <li class="card">
        11:15 - 11:45 <br>
        <a href="{{ '/talks/nztechrally2024/and-then-the-robots-came' | url }}">And then the robots came</a><br>
        <a href="{{ '/speakers/bron-thomson' | url }}">Bron Thomson</a> - Founder &amp; CEO @ Springload
      </li>
      <li class="card">
        11:45 - 12:15 <br>
        <a href="{{ '/talks/nztechrally2024/hold-fold-walkaway' | url }}">Hold, fold or walk away: Navigating burnout like The Gambler</a><br>
        <a href="{{ '/speakers/nav-rao' | url }}">Nav Rao</a> - Product Engineer
      </li>
      <li class="card">
        12:15 - 13:45 <br>
        Break-out activities with lunch
      </li>
      <li class="card">
        13:45 - 14:15 <br>
        <a href="{{ '/talks/nztechrally2024/building-career-resilience' | url }}">Building Career Resilience</a><br>
        <a href="{{ '/speakers/julia-bower' | url }}">Julia Bower</a> - Co-Founder and Engineer @ The Fractional Directory &amp; Serko
      </li>
      <li class="card">
        14:15 - 14:45 <br>
        <a href="{{ '/talks/nztechrally2024/trust-your-team' | url }}">Trust your team</a><br>
        <a href="{{ '/speakers/rowan-savage' | url }}">Rowan Savage</a> - Co-founder &amp; CTO @ Runn.io
      </li>
      <li class="card">
        14:45 - 15:35 <br>
        Break-out activities with afternoon tea
      </li>
      <li class="card">
        15:35 - 16:15 <br>
        <strong>Locknote</strong>
      </li>
      <li class="card">
        16:15 - 16:40 <br>
        Quiz and giveaways
      </li>
      <li class="card">
        16:40 - 16:50 <br>
       Closing remarks<br>
        <a href="{{ '/crew/prae-songprasit' | url }}">Prae Songprasit - Co-founder @ NZ Tech Rally</a>
      </li>
      <li class="card">
        17:00 onwards <br>
        After socials
      </li>
    </ul>
  </div>
{% endblock %}
