---
tags: page
title: Speakers
pageIcon: person_outline
description: Local NZ talents who are speaking at NZ Tech Rally 2023
eleventyNavigation:
  key: Speakers
  order: 1
---

{% extends 'layouts/base.njk' %}
{% from 'partials/card.njk' import card %}

{%- css %}
{% include "css/components/profile-card.css" %}
{% endcss %}

{% block pageHeader %}
  <h1 class="section-title">
    {{ title }}
    {% svg pageIcon %}
  </h1>
{% endblock %}

{% block content %}
  <ul class="cards profiles profiles--four-columns">
    {% for speaker in collections.speakers %}
      {{ card(speaker) }}
    {% endfor %}
  </ul>
{% endblock %}