---
tags: page
title: Speakers
pageIcon: person_outline
description: Local NZ talents who are speaking at NZ Tech Rally 2023
eleventyNavigation:
  key: Speakers
  order: 1
---

{% extends 'layouts/base.njk' %}
{% from 'partials/card-speaker.njk' import card %}

{%- css %}
{% include "css/components/profile-card.css" %}
{% endcss %}

{% block content %}

  <section>
    <div class="section-label section-label--header accent-border">
      <h2 class="section-title">
          Speakers {% svg "person_outline" %}
      </h2>
    </div>

    <ul class="cards profiles">
      {% for speaker in collections.speakers %}
        {{ card(speaker) }}
      {% endfor %}
    </ul>
  </section>

{% endblock %}