---
tags: page
title: Speakers
description: Local NZ talents who are speaking at NZ Tech Rally 2025
---

{% extends 'layouts/page-foundation.njk' %}
{% from 'partials/card-profile.njk' import card %}

{%- css %}
{% include "css/components/card-profile.css" %}
{% endcss %}

{% block pageHeader %}
  <h1 class="section-title">
    {{ title }}
  </h1>
{% endblock %}

{% block content %}
  <ul class="cards profiles profiles--four-columns">
    {# {% for speaker in collections.speakers %}
      {{ card(speaker) }}
    {% endfor %} #}

    <li class="card accent-border card-profile">
      <span class="card-profile__picture">
        {% svg 'person_outline' %}
        <span class="card-profile__picture-text">This could be you!</span>
      </span>

      <p class="card-profile__info">
        <a class="card-profile__link" href="{{ '/call-for-proposals' | url }}">
          <span class="card-title card-title--talk-name">
            Submit a CFP
          </span>

          <span>More about timeline, talks we're looking for, etc.</span>
        </a>
      </p>
    </li>
  </ul>
{% endblock %}
