---
tags: page
title: Sponsor
pageIcon: sparkles
description: Information for those who wish to financially support NZ Tech Rally.
eleventyNavigation:
  key: Sponsor
  order: 4
excludeSponsors: true
---
{% extends 'layouts/base.njk' %}

{%- css %}
{% include "css/components/sponsor-table.css" %}
{% endcss %}

{% block pageHeader %}
  <h1 class="section-title">
    {{ title }}
    {% svg pageIcon %}
  </h1>
{% endblock %}

{% block pageIntro %}
  <div class="card accent-border">
    <p class="header-description">{{ description }}</p>
  </div>
{% endblock %}

{% block content %}
  <section>
    <div class="section-label accent-border">
      <h2 class="section-title">Page contents</h2>
    </div>

    <div class="card accent-border">
      <ul>
        <li>
          <a href="#mission">About NZ Tech Rally</a>
        </li>
        <ul>
          <li>
            <a href="#mission">Mission</a>
          </li>
          <li>
            <a href="#values">Values</a>
          </li>
        </ul>
        <li>
          <a href="#numbers">Numbers from previous years</a>
        </li>
        <ul>
          <li>
            <a href="#nztestingconf2022">NZTestingConf 2022</a>
          </li>
          <li>
            <a href="#nztechrally2023">NZ Tech Rally 2023</a>
          </li>
        </ul>
        <li>
          <a href="#previousponsors">Previous sponsors</a>
        </li>
        <li>
          <a href="#2024eventscalendar">2024 events calendar</a>
        </li>
        <ul>
          <li>
            <a href="#nztestingconf2024">NZTestingConf 2024</a>
          </li>
          <li>
            <a href="#nztechrally2024">NZ Tech Rally 2024</a>
          </li>
        </ul>
        <li>
          <a href="goals2024">Goals for 2024</a>
        </li>
        <li>
          <a href="#packages">Sponsorship packages 2024</a>
        </li>
        <ul>
          <li>
            <a href="#annualpackage">Annual partnership</a>
          </li>
          <li>
            <a href="#singleconfpackages">Single conference sponsorship packages</a>
          </li>
          <li>
            <a href="#tandc">Terms and conditions</a>
          </li>
          <li>
            <a href="#nextSteps">Next steps</a>
          </li>
        </ul>
    </ul>
  </div>
</section>

<section>
  <div class="section-label accent-border">
    <h2 class="section-title" id="info">Quick intro to NZ Tech Rally 2023</h2>
  </div>

  <div class="card accent-border">
    <h3>Event name</h3>
    <p>NZ Tech Rally 2023</p>

    <h3>Description</h3>
    <p>Flagship conference for NZ Tech Rally. We aim to provide inclusive spaces for the NZ software community to connect and grow together.</p>

    <h3>Date</h3>
    <p>Friday, 7th July 2023</p>

    <h3>Location</h3>
    <p>Pipitea Campus, Victoria University, Wellington, New Zealand</p>

    <h3>Target audience</h3>
    <p>Anyone interested in software creation, and building a community of Kiwi software engineers.</p>
    <p>This includes but not limited to: Software Developers, QA Professionals, Platform Engineers, Engineering Leads/Managers, Tech Leads, Tech Architects, CTO, VP/Head of Engineering, Product Leads/Managers, SaaS-based Startup Founders and Tech Entrepreneurs. </p>
  </div>
</section>

<section>
  <div class="section-label accent-border">
    <h2 class="section-title" id="mission">Mission</h2>
  </div>

  <div class="card accent-border">
    <p>Provide inclusive spaces for the NZ software community to celebrate, connect, and grow together.
    </p>
    <p>NZ Tech Rally wants to see the NZ software engineering community be inspired by how other local companies and engineers are thriving. We are keen to hear Kiwis share how they address different engineering concerns in the NZ context and feel empowered to try those solutions out at their organisations.
    </p>
    <p>NZ Tech Rally does this by</p>
    <ul>
      <li>Showcasing NZ ingenuity in software</li>
      <li>Providing opportunities for community members to grow their network and their impact</li>
      <li>Creating safe, inclusive, accessible and diverse educational content</li>
      <li>Sharing Kiwi adaptation of good software practices and emerging technologies</li>
    </ul>

  </div>
</section>

<section>
  <div class="section-label accent-border">
    <h2 class="section-title" id="values">Values</h2>
  </div>

  <div class="card accent-border">
    <ul>
      <li>
        <b>NZ software community-focused</b>
        <p>We’re here for the NZ software community. 
        <br>We believe in Kiwi ingenuity and how supportive we can be for one another. So, we’ll focus on rallying and strengthening our community to create a vibrant software sector!</p>
      </li>

      <li>
        <b>Inclusive</b>
        <p>We want to see a more diverse representation of software engineers in New Zealand. We do this through curation of voices from different abilities, career progression, life stages, sexual orientation, and ethnic groups.<br>We long for welcoming and safe spaces for the community to gather, in an accessible and affordable way.</p>
      </li>

      <li>
        <b>Operate with integrity</b>
        <p>We believe in saying what’s on our minds and sticking to our principles while serving our community.</p>
      </li>

      <li>
        <b>Pragmatic</b>
        <p>Ideals and theories are great. But it can only be as good as the execution. We are all about applicable solutions and relevant content that are well-adapted for our NZ software community.</p>
      </li>
    </ul>
  </div>
</section>

<section>
  <div class="section-label accent-border">
    <h2 class="section-title" id="numbers">Numbers from our previous years</h2>
  </div>

  <div class="card accent-border"></div>

  <section>
    <div class="section-label accent-border">
      <h2 class="section-title" id="previous sponsors">Previous sponsors</h2>
    </div>

    <div class="card accent-border"></div>

  </section>

  <section>
    <div class="section-label accent-border">
      <h2 class="section-title" id="previous sponsors">2024 events calendar</h2>
    </div>

    <div class="card accent-border"></div>

  </section>

  <section>
    <div class="section-label accent-border">
      <h2 class="section-title" id="goals">Conference goals for 2024</h2>
    </div>

    <div class="card accent-border"></div>

  </section>

  <section>
    <div class="section-label accent-border">
      <h2 class="section-title" id="packages">Sponsorship packages 2024</h2>
    </div>

    <div class="card accent-border">
      <p>
        Sponsoring NZ Tech Rally provides a unique opportunity to interact with diverse software engineers and engineering leaders in Aotearoa.
      </p>
      <p>
        Supporting our event means getting the Sponsor’s brand out there in the local software engineering space to attract some of the best engineering talents to the sponsoring organisation.
      </p>
      <p>
        Sponsors are greatly appreciated for their financial assistance. Sponsorship is the primary source of funding for our conference, with registration fees kept affordable at $110 to encourage broad community participation.
      </p>
      <p>
        Sponsors are encouraged to represent themselves by actively participating and engaging with the attendees as peers. The best thing to do is to send engineers from the sponsor's organisation to interact with other attendees at NZ Tech Rally. 
      </p>
    </div>
  </section>

  <section>
    <div class="section-label accent-border">
      <h2 class="section-title" id="packages">Sponsorship packages</h2>
    </div>

    <div class="card accent-border">
      <p>
        Downloadable version of the <a href="{{ '/assets/SponsorPackage_NZTR2023.pdf' | url}}" download="NZTechRally2023_sponsorshipPackage">sponsorship package in PDF format</a>.
      </p>

      <table class="table--sponsorship">
        <caption>
            List of sponsorship options and what each level receives from NZ Tech Rally.
          </caption>
        <thead>
          <tr>
            <th>Sponsorship level</th>
            <th>Platinum</th>
            <th>Gold</th>
            <th>Silver</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Cost</td>
            <td>
              <span class="sponsorship-level">Platinum</span>
                $6,000 <span class="small-text">+GST</span>
            </td>
            <td>
              <span class="sponsorship-level">Gold</span>
                $4,000 <span class="small-text">+GST</span>
            </td>
            <td>
              <span class="sponsorship-level">Silver</span>
                $1,000 <span class="small-text">+GST</span>
            </td>
          </tr>

          <tr>
            <td>Maximum number of sponsors allowed per sponsorship level</td>
            <td>
              <span class="sponsorship-level">Platinum</span>
                2
              </td>
            <td>
              <span class="sponsorship-level">Gold</span>
                3
              </td>
            <td>
              <span class="sponsorship-level">Silver</span>
                10
              </td>
          </tr>

          <tr>
            <td>
                Complimentary attendee tickets
              </td>
            <td>
              <span class="sponsorship-level">Platinum</span>
                6
              </td>
            <td>
              <span class="sponsorship-level">Gold</span>
                2
              </td>
            <td class="sponsor-package--excluded">
              <span class="sponsorship-level">Silver</span>
                0
              </td>
          </tr>

          <tr>
            <td>
                Number of people allowed at booth
                <p class="table-notes">
                  Will be given booth staff tickets
                </p>
            </td>
            <td>
              <span class="sponsorship-level">Platinum</span>
                2
              </td>
            <td>
              <span class="sponsorship-level">Gold</span>
                2
              </td>
            <td class="sponsor-package--excluded">
              <span class="sponsorship-level">Silver</span>
                0
              </td>
          </tr>

          <tr>
            <td>
                Exclusive social media appreciation posts
              </td>
            <td>
              <span class="sponsorship-level">Platinum</span>
              {% svg 'check', {title: 'Yes'} %}
            </td>
            <td>
              <span class="sponsorship-level">Gold</span>
              {% svg 'cross', {title: 'No'} %}
            </td>
            <td class="sponsor-package--excluded">
              <span class="sponsorship-level">Silver</span>
              {% svg 'cross', {title: 'No'} %}
            </td>
          </tr>

          <tr>
            <td>
                Give away booth activity prizes on the main stage
              </td>
            <td>
              <span class="sponsorship-level">Platinum</span>
              {% svg 'check', {title: 'Yes'} %}
            </td>
            <td class="sponsor-package--excluded">
              <span class="sponsorship-level">Gold</span>
              {% svg 'cross', {title: 'No'} %}
            </td>
            <td class="sponsor-package--excluded">
              <span class="sponsorship-level">Silver</span>
              {% svg 'cross', {title: 'No'} %}
            </td>
          </tr>

          <tr>
            <td>Booth space</td>
            <td>
              <span class="sponsorship-level">Platinum</span>
              {% svg 'check', {title: 'Yes'} %}
            </td>
            <td>
              <span class="sponsorship-level">Gold</span>
              {% svg 'check', {title: 'Yes'} %}
            </td>
            <td class="sponsor-package--excluded">
              <span class="sponsorship-level">Silver</span>
              {% svg 'cross', {title: 'No'} %}
            </td>
          </tr>

          <tr>
            <td>
                Give away swag and materials to attendees
                <p class="table-notes">
                  Swag needs to be approved by NZ Tech Rally in writing
                </p>
            </td>
            <td>
              <span class="sponsorship-level">Platinum</span>
              {% svg 'check', {title: 'Yes'} %}
            </td>
            <td>
              <span class="sponsorship-level">Gold</span>
              {% svg 'check', {title: 'Yes'} %}
            </td>
            <td class="sponsor-package--excluded">
              <span class="sponsorship-level">Silver</span>
              {% svg 'cross', {title: 'No'} %}
            </td>
          </tr>

          <tr>
            <td>Sponsor’s banner on the stage</td>
            <td>
              <span class="sponsorship-level">Platinum</span>
              {% svg 'check', {title: 'Yes'} %}
            </td>
            <td>
              <span class="sponsorship-level">Gold</span>
              {% svg 'check', {title: 'Yes'} %}
            </td>
            <td class="sponsor-package--excluded">
              <span class="sponsorship-level">Silver</span>
              {% svg 'cross', {title: 'No'} %}
            </td>
          </tr>

          <tr>
            <td>Mention on NZ Tech Rally’s social platforms such as <a rel="external" href="{{ site.linkedin }}">LinkedIn</a>, <a rel="external" href="{{ site.twitter }}">Twitter</a>, and newsletter</td>
            <td>
              <span class="sponsorship-level">Platinum</span>
              {% svg 'check', {title: 'Yes'} %}
            </td>
            <td>
              <span class="sponsorship-level">Gold</span>
              {% svg 'check', {title: 'Yes'} %}
            </td>
            <td>
              <span class="sponsorship-level">Silver</span>
              {% svg 'check', {title: 'Yes'} %}
            </td>
          </tr>

          <tr>
            <td>Brand logo on physical NZ Tech Rally’s banners</td>
            <td>
              <span class="sponsorship-level">Platinum</span>
              {% svg 'check', {title: 'Yes'} %}
            </td>
            <td>
              <span class="sponsorship-level">Gold</span>
              {% svg 'check', {title: 'Yes'} %}
            </td>
            <td>
              <span class="sponsorship-level">Silver</span>
              {% svg 'check', {title: 'Yes'} %}
            </td>
          </tr>

          <tr>
            <td>
                Brand logo display on this website
                <p class="table-notes">
                  A brand logo can link to a specific place on the sponsor's website. If the url isn’t provided, we will link to the sponsor's homepage.
                </p>
            </td>
            <td>
              <span class="sponsorship-level">Platinum</span>
              {% svg 'check', {title: 'Yes'} %}
            </td>
            <td>
              <span class="sponsorship-level">Gold</span>
              {% svg 'check', {title: 'Yes'} %}
            </td>
            <td>
              <span class="sponsorship-level">Silver</span>
              {% svg 'check', {title: 'Yes'} %}
            </td>
          </tr>

          <tr>
            <td>
                Brand logo display on NZ Tech Rally’s slides
                <p class="table-notes">
                  Opening slides, break times/schedule, closing slides
                </p>
            </td>
            <td>
              <span class="sponsorship-level">Platinum</span>
              {% svg 'check', {title: 'Yes'} %}
            </td>
            <td>
              <span class="sponsorship-level">Gold</span>
              {% svg 'check', {title: 'Yes'} %}
            </td>
            <td>
              <span class="sponsorship-level">Silver</span>
              {% svg 'check', {title: 'Yes'} %}
            </td>
          </tr>

          <tr>
            <td>Visual and verbal recognition by MC at opening &amp; closing</td>
            <td>
              <span class="sponsorship-level">Platinum</span>
              {% svg 'check', {title: 'Yes'} %}
            </td>
            <td>
              <span class="sponsorship-level">Gold</span>
              {% svg 'check', {title: 'Yes'} %}
            </td>
            <td>
              <span class="sponsorship-level">Silver</span>
              {% svg 'check', {title: 'Yes'} %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <section>
    <div class="section-label accent-border">
      <h2 class="section-title" id="tandc">Terms and conditions</h2>
    </div>

    <div class="card accent-border">
      <p>
        Sponsors are never given the attendee contact information, nor are they allowed to purchase speaking slots or panellist slots for talks and panel discussions at events hosted by NZ Tech Rally Ltd.
     </p>
      <p>
        Sponsors must follow the event’s <a href="https://nztechrally.nz/code-of-conduct/">code of conduct</a>, as the contract highlights. This applies to giveaways, items and images at the sponsor’s table, the behaviour of the sponsor’s staff, etc.
      </p>
    </div>
  </section>

  <section>
    <div class="section-label accent-border">
      <h2 class="section-title" id="nextSteps">Next steps</h2>
    </div>

    <div class="card accent-border">
      <p>
        Email our sponsor liaison, Camy Bhandari, via <a href="mailto:sponsor@nztechrally.nz">sponsor@nztechrally.nz</a> with your plans to support our community-building activities.
      </p>
    </div>
  </section>
{% endblock %}