---
tags: page
title: Sponsor
pageIcon: sparkles
description: Information for those who wish to financially support NZ Tech Rally.
eleventyNavigation:
  key: Sponsor
  order: 4
featuredImage: /assets/images/og-sponsor.png
featuredImageAlt: "Where we discuss the hottest trends and biggest problems in NZ software engineering. Call for sponsors open now, get in touch. NZ Tech Rally, 7th July, Wellington"
featuredImageType: png
featuredImageWidth: 1200
featuredImageHeight: 630
---
{% extends 'layouts/base.njk' %}

{%- css %}
  {% include "css/components/sponsor-table.css" %}
{% endcss %}

{% block pageHeader %}
  <div class="section-label section-label--header accent-border">
    <h1 class="section-title">
      {{ title }} {% svg pageIcon %}
    </h1>
  </div>

  <div class="card accent-border">
    <p class="header-description">{{ description }}</p>
    <p>Sponsorship applications close on 15th June 2023.</p>
  </div>
{% endblock %}

{% block content %}
  <main id="mainContent">
    <section>
      <div class="section-label accent-border">
        <h2 class="section-title">Page contents</h2>
      </div>

      <div class="card accent-border">
        <ul>
          <li><a href="#info">Quick intro to NZ Tech Rally 2023</a></li>
          <li><a href="#ourWhy">Why NZ Tech Rally exists</a></li>
          <li><a href="#opportunities">Sponsorship opportunities</a></li>
          <li><a href="#packages">Sponsorship packages</a></li>
          <li><a href="#tandc">Terms and conditions</a></li>
          <li><a href="#nextSteps">Next steps</a></li>
        </ul>
      </div>
    </section>

     <section>
      <div class="section-label accent-border">
        <h2 class="section-title" id="info">Quick intro to NZ Tech Rally 2023</h2>
      </div>

      <div class="card accent-border">
        <h3>Event name</h3>
        <p>NZ Tech Rally 2023</p>

        <h3>Description</h3>
        <p>Flagship conference for NZ Tech Rally. We aim to become the ultimate community platform where we discuss the hottest trends and biggest problems in NZ software engineering and grow together.</p>

        <h3>Date</h3>
        <p>Friday, 7th July 2023</p>

        <h3>Location</h3>
        <p>Pipitea Campus, Victoria University, Wellington, New Zealand</p>
      </div>
    </section>

     <section>
      <div class="section-label accent-border">
        <h2 class="section-title" id="ourWhy">Why NZ Tech Rally exists</h2>
      </div>

      <div class="card accent-border">
        <p>
          NZ has many events that cater for anyone working in tech, such as Webstock, Tech Week, Code Camp, etc. These events talk about general tech-related topics, ranging from product management to design to code. 
        </p>
        <p>
          NZ also has many events that focus on specific engineering practices or tools: like security, cloud, full-stack, mobile development, JavaScript, robotics, etc.
        </p>
        <p>
          But there isn’t anything that focuses on broad software engineering concerns.
        </p>
        <p> 
          We also noticed that many topics are case studies from overseas and often feature international speakers. 
        </p>
        <p>
          While it is great to look for inspiration outside of the NZ tech bubble, we often forget that there are also great relatable examples in NZ.
        </p>
        <p>
          We want to create a place where all engineering roles like QA, front-end, security, and data can get together and share how they address common software engineering problems in NZ.
        </p>
        <p>
          By learning from each other, we can support, strengthen, uplift, and grow software engineering practices in NZ together; something which can’t be done as effectively in practice-based silos.
        </p>
      </div>
    </section>

    <section>
      <div class="section-label accent-border">
        <h2 class="section-title" id="opportunities">Sponsorship opportunities</h2>
      </div>

      <div class="card accent-border">
        <p>
          Sponsoring NZ Tech Rally provides a unique opportunity to interact with diverse software engineers and engineering leaders in Aotearoa.
        </p>
        <p>
          Supporting our event means getting the Sponsor’s brand out there in the local software engineering space to attract some of the best engineering talents to the sponsoring organisation.
        </p>
        <p>
          Sponsors are greatly appreciated for their financial assistance. Sponsorship is the primary source of funding for our conference, with registration fees kept affordable at $110 to encourage broad community participation.
        </p>
        <p>
          Sponsors are encouraged to represent themselves by actively participating and engaging with the attendees as peers. The best thing to do is to send engineers from the sponsor's organisation to interact with other attendees at NZ Tech Rally. 
        </p>
      </div>
    </section>

    <section>
      <div class="section-label accent-border">
        <h2 class="section-title" id="packages">Sponsorship packages</h2>
      </div>

      <div class="card accent-border">
        <p>
          Downloadable version of the <a href="{{ '/assets/SponsorPackage_NZTR2023.pdf' | url}}" download="NZTechRally2023_sponsorshipPackage">sponsorship package in PDF format</a>.
        </p>

        <table class="table--sponsorship">
          <caption>
            List of sponsorship options and what each level receives from NZ Tech Rally.
          </caption>
          <thead>
            <tr>
              <th>Sponsorship level</th>
              <th>Platinum</th>
              <th>Gold</th>
              <th>Silver</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Cost</td>
              <td>
                <span class="sponsorship-level">Platinum</span>
                $6,000 <span class="small-text">+GST</span>
              </td>
              <td>
                <span class="sponsorship-level">Gold</span>
                $4,000 <span class="small-text">+GST</span>
              </td>
              <td>
                <span class="sponsorship-level">Silver</span>
                $2,000 <span class="small-text">+GST</span>
              </td>
            </tr>

            <tr>
              <td>Maximum number of sponsors allowed per sponsorship level</td>
              <td>
                <span class="sponsorship-level">Platinum</span>
                2
              </td>
              <td>
                <span class="sponsorship-level">Gold</span>
                3
              </td>
              <td>
                <span class="sponsorship-level">Silver</span>
                10
              </td>
            </tr>

            <tr>
              <td>
                Complimentary tickets
                <p class="table-notes">
                  Including up to two staff members allowed at the sponsor’s booth.<br>
                  E.g. For gold sponsors, having 2 booth staff means they can send 2 other staff as an attendee.
                </p>
              </td>
              <td>
                <span class="sponsorship-level">Platinum</span>
                6
              </td>
              <td>
                <span class="sponsorship-level">Gold</span>
                4
              </td>
              <td class="sponsor-package--excluded">
                <span class="sponsorship-level">Silver</span>
                0
              </td>
            </tr>

            <tr>
              <td>Booth provided</td>
              <td>
                <span class="sponsorship-level">Platinum</span>
                 {% svg 'check', { title: 'Yes' } %}
              </td>
              <td>
                <span class="sponsorship-level">Gold</span>
                 {% svg 'check', { title: 'Yes' } %}
              </td>
              <td class="sponsor-package--excluded">
                <span class="sponsorship-level">Silver</span>
                {% svg 'cross', { title: 'No' } %}
              </td>
            </tr>

            <tr>
              <td>
                Allowed to give away swag to attendees
                <p class="table-notes">
                  Swag needs to be approved by NZ Tech Rally in writing
                </p>
              </td>
              <td>
                <span class="sponsorship-level">Platinum</span>
                 {% svg 'check', { title: 'Yes' } %}
              </td>
              <td>
                <span class="sponsorship-level">Gold</span>
                 {% svg 'check', { title: 'Yes' } %}
              </td>
              <td class="sponsor-package--excluded">
                <span class="sponsorship-level">Silver</span>
                {% svg 'cross', { title: 'No' } %}
              </td>
            </tr>

            <tr>
              <td>
                Allowed to give away prizes at the main stage from activities ran from booth
              </td>
              <td>
                <span class="sponsorship-level">Platinum</span>
                 {% svg 'check', { title: 'Yes' } %}
              </td>
              <td class="sponsor-package--excluded">
                <span class="sponsorship-level">Gold</span>
                {% svg 'cross', { title: 'No' } %}
              </td>
              <td class="sponsor-package--excluded">
                <span class="sponsorship-level">Silver</span>
                {% svg 'cross', { title: 'No' } %}
              </td>
            </tr>

            <tr>
              <td>Sponsor’s banner on the stage</td>
              <td>
                <span class="sponsorship-level">Platinum</span>
                 {% svg 'check', { title: 'Yes' } %}
              </td>
              <td>
                <span class="sponsorship-level">Gold</span>
                 {% svg 'check', { title: 'Yes' } %}
              </td>
              <td class="sponsor-package--excluded">
                <span class="sponsorship-level">Silver</span>
                {% svg 'cross', { title: 'No' } %}
              </td>
            </tr>

            <tr>
              <td>Brand logo on physical NZ Tech Rally’s banners</td>
              <td>
                <span class="sponsorship-level">Platinum</span>
                 {% svg 'check', { title: 'Yes' } %}
              </td>
              <td>
                <span class="sponsorship-level">Gold</span>
                 {% svg 'check', { title: 'Yes' } %}
              </td>
              <td>
                <span class="sponsorship-level">Silver</span>
                 {% svg 'check', { title: 'Yes' } %}
              </td>
            </tr>

            <tr>
              <td>
                Brand logo display on this website
                <p class="table-notes">
                  A brand logo can link to a specific place on the sponsor's website. If the url isn’t provided, we will link to the sponsor's homepage.
                </p>
              </td>
              <td>
                <span class="sponsorship-level">Platinum</span>
                 {% svg 'check', { title: 'Yes' } %}
              </td>
              <td>
                <span class="sponsorship-level">Gold</span>
                 {% svg 'check', { title: 'Yes' } %}
              </td>
              <td>
                <span class="sponsorship-level">Silver</span>
                 {% svg 'check', { title: 'Yes' } %}
              </td>
            </tr>

            <tr>
              <td>
                Brand logo display on NZ Tech Rally’s slides
                <p class="table-notes">
                  Opening slides, break times/schedule, closing slides
                </p>
              </td>
              <td>
                <span class="sponsorship-level">Platinum</span>
                 {% svg 'check', { title: 'Yes' } %}
              </td>
              <td>
                <span class="sponsorship-level">Gold</span>
                 {% svg 'check', { title: 'Yes' } %}
              </td>
              <td>
                <span class="sponsorship-level">Silver</span>
                 {% svg 'check', { title: 'Yes' } %}
              </td>
            </tr>

            <tr>
              <td>Visual and verbal recognition by MC at opening &amp; closing</td>
              <td>
                <span class="sponsorship-level">Platinum</span>
                 {% svg 'check', { title: 'Yes' } %}
              </td>
              <td>
                <span class="sponsorship-level">Gold</span>
                 {% svg 'check', { title: 'Yes' } %}
              </td>
              <td>
                <span class="sponsorship-level">Silver</span>
                 {% svg 'check', { title: 'Yes' } %}
              </td>
            </tr>

            <tr>
              <td>Mention on NZ Tech Rally’s social platforms such as <a rel="external" href="{{ site.linkedin }}">LinkedIn</a>, <a rel="external" href="{{ site.twitter }}">Twitter</a>, and newsletter</td>
              <td>
                <span class="sponsorship-level">Platinum</span>
                 {% svg 'check', { title: 'Yes' } %}
              </td>
              <td>
                <span class="sponsorship-level">Gold</span>
                 {% svg 'check', { title: 'Yes' } %}
              </td>
              <td>
                <span class="sponsorship-level">Silver</span>
                 {% svg 'check', { title: 'Yes' } %}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <section>
      <div class="section-label accent-border">
        <h2 class="section-title" id="tandc">Terms and conditions</h2>
      </div>

      <div class="card accent-border">
        <p>
          Sponsors are never given the attendee contact information, nor are they allowed to purchase speaking slots or panellist slots for talks and panel discussions at NZ Tech Rally.
        </p>
        <p>
          Sponsors will be required to follow the event’s code of conduct,  as highlighted in the contract. This applies to giveaways, items and images at the sponsor’s table, the behaviour of the sponsor’s staff, etc.
        </p>
      </div>
    </section>

    <section>
      <div class="section-label accent-border">
        <h2 class="section-title" id="nextSteps">Next steps</h2>
      </div>

      <div class="card accent-border">
        <p>
          Email our sponsor liaison, Camy Bhandari, via <a href="mailto:sponsor@nztechrally.com">sponsor@nztechrally.com</a> to support this exciting conference.
        </p>
      </div>
    </section>
  </main>
{% endblock %}
