---
tags: page
title: Sponsor
pageIcon: thumb_up
description: Coming soon
eleventyNavigation:
  key: Sponsor
  order: 4
---
{% extends 'layouts/base.njk' %}

{% block pageHeader %}
  <section>
    <div class="section-label section-label--header accent-border">
      <h1 class="section-title">
        {{ title }} {% svg pageIcon %}
      </h1>
    </div>
  </section>
{% endblock %}

{% block content %}
  <main id="mainContent">
    <div class="card accent-border">
      <p class="header-description">{{ description }}</p>
    </div>
  </main>
{% endblock %}
