---
tags: page
title: Volunteer
pageIcon: person_outline
description: Help us grow NZ software engineering community!
eleventyExcludeFromCollections: true
featuredImage: /assets/images/og-volunteer.png
featuredImageAlt: "Help is connect, support and grow NZ software engineers. We're looking for volounteers for our conference. NZ Tech Rally, 7th July, Wellington"
featuredImageType: png
featuredImageWidth: 1200
featuredImageHeight: 630
---
{% extends 'layouts/base.njk' %}

{% block pageHeader %}
  <div class="section-label section-label--header accent-border">
    <h1 class="section-title">
      {{ title }} {% svg pageIcon %}
    </h1>
  </div>
{% endblock %}

{% block content %}
  <main id="mainContent">
    <section>
      <div class="section-label accent-border">
        <h2 class="section-title">Our mission</h2>
      </div>

      <div class="card accent-border">
        <p>
          Our mission is to be the ultimate community platform for NZ software engineers to share, learn, and grow together.
        </p>
        <p>
          When we said <em>platform</em>, we’re not just talking about an annual volunteer run event. 
        </p>
        <p>
          We have big dreams beyond the annual flagship NZ Tech Rally conference. We want to run in a sustainable way which includes ongoing community building, paying people for their time, helping people get paid for their content/class/workshops, and etc.
        </p>
        <p>
          But this year, we’re bootstrapping; starting from zero. We will have to rely on volunteers who are interested in our cause until we can get off the ground.
        </p>
      </div>
    </section>

    <section>
      <div class="section-label section-label--header accent-border">
        <h2 class="section-title">What to expect as our volunteer</h2>
      </div>

      <div class="section-label accent-border">
        <h3 class="section-title">Perks</h3>
      </div>

      <div class="card accent-border">
        <p>For the time being, these are our volunteer perks: </p>
        <ul>
          <li>Our eternal gratitude</li>
          <li>Free entry to events you're involved in</li>
          <li>Experience managing ticketed events</li>
          <li>Experience managing and growing a software engineering community</li>
          <li>A natural way of networking with industry experts, supporters, mentors, and top talents</li>
          <li>A chance to be a part of our longer-term vision and really know what we’re doing to get NZ Tech Rally there</li>
          <li>LinkedIn or other type of work reference; should you want one.</li>
        </ul>
      </div>

      <div class="section-label accent-border">
        <h3 class="section-title">Disadvantages</h3>
      </div>

      <div class="card accent-border">
        <p>If those sound cool to you, we feel it’s only right to disclose what the not-so-cool things are. </p>
        <ul>
          <li>You will not get to watch all the talks live or enjoy an event the way paying participants can</li>
          <li>You will have to get up really early on the day of the event, as we need help with setup and pack down.</li>
          <li>When we say time commitment, we really mean it. We’ve estimated that these are the amount of time you need to put in to ensure the event’s success.</li>
        </ul>
      </div>
    </section>

    <section>
      <div class="section-label section-label--header accent-border">
        <h2 class="section-title">What we need help with</h2>
      </div>

      <div class="card accent-border">
        <p> 
          These are the specific roles we need help with; especially leading up to NZ Tech Rally 2023 on Friday 7th July 2023.
        </p>
        <p>
          If you’re interested in helping in a way that is not listed here, please let us know too!
        </p>
        <p>
          Time commitment listed could be reduced if we get more volunteers. Please do not let this deter you, and let us know while you're filling in the <a href="https://docs.google.com/forms/d/e/1FAIpQLScOdsnf_2OSsKP2GiGc5Q8e0DxE1-CqpWYAgr0YDZJF9qwRcQ/viewform?usp=sf_link">volunteer expression of interest form</a>.
        </p>
      </div>

      <div class="section-label accent-border">
        <h3 class="section-title">Registration & information</h3>
      </div>

      <div class="card accent-border">
        <ul>
          <li>Work with our co-founder to ensure the registration system is running smoothly</li>
          <li>Respond to registration-related enquiries</li>
          <li>Ensure payments from registration are received and processed</li>
          <li>Collate the final list of registered attendees for check-in</li>
          <li>Work with design to create name tags for the event</li>
          <li>Manage the registration desk at the event, which will also function as an information help desk</li>
          <li>Support other volunteers with their department’s work during your downtime</li>
        </ul>

        <p>Time commitment:</p>
        <ul>
          <li> 2-3 hours a week until NZ Tech Rally 2023</li>
          <li>2 hours on pre-rehearsal day on 5th July</li>
          <li>3 hours on rehearsal day on 6th July</li>
          <li>10 hours on the day of the event</li>
        </ul>
      </div>

      <div class="section-label accent-border">
        <h3 class="section-title">Catering</h3>
      </div>

      <div class="card accent-border">
        <ul>
          <li>Source catering options/vendors </li>
          <li>Point of contact for caterers</li>
          <li>Arrange catering and layout on the day of the event</li>
          <li>Directing/managing the crowd by answering their food-related queries during morning tea, afternoon tea and lunch on the event day</li>
          <li>Helping wrap up catering tables after afternoon tea</li>
          <li>Submit catering-related expenses</li>
        </ul>

        <p>Time commitment:</p>
        <ul>
          <li>1-2 hours a week for two months before the event</li>
          <li>1-2 hours a week for two months before the event</li>
          <li>3 hours on rehearsal day on 6th July</li>
          <li>10 hours on the day of the event</li>
        </ul>
      </div>

      <div class="section-label accent-border">
        <h3 class="section-title">Marketing & Community</h3>
      </div>

      <div class="card accent-border">
        <ul>
          <li>
            Create and manage social media strategy
            <ul>
              <li>Post promotional materials on all the main social media channels</li>
              <li>Manage listing on events publishing sites</li>
              <li>Co-ordinate with other departments on campaigns</li>
            </ul>
          </li>
          <li>Work with design to create promotional materials</li>
          <li>Monitor and mediate activities on social media </li>channels (positive and negative)
          <li>Ensure all materials like videos and photos are </li>appropriately posted
          <li>Continue to engage and grow the community on the </li>platforms we use
        </ul>

        <p>Ongoing time commitment:</p>
        <ul>
          <li>1-2 hours a week</li>
        </ul>

        <p>Conference-specific time commitment:</p>
        <ul>
          <li>3-4 hours a week - 2 months before and one month </li>after the event
          <li>10 hours on the day of the event</li>
        </ul>
      </div>

      <div class="section-label accent-border">
        <h3 class="section-title">Design</h3>
      </div>

      <div class="card accent-border">
        <ul>
          <li>Work with our designer to design online identities such as websites, social media profiles, etc.</li>
          <li>Design document and slide templates</li>
          <li>Design and coordinate printed materials such as banners, roll-ups, stickers, sponsor logos, etc.</li>
          <li>Work with marketing to create promotional materials</li>
          <li>Work with registration to create name tags for use at events</li>
        </ul>
        <p>Ongoing time commitment:</p>
        <ul>
          <li>1-2 hours a week</li>
        </ul>
        <p>Conference-specific time commitment:</p>
        <ul>
          <li>3-4 hours a week - 2 months before and one month after the event</li>
        </ul>
      </div>

      <div class="section-label accent-border">
        <h3 class="section-title">Technology</h3>
      </div>

      <div class="card accent-border">
        <ul>
          <li>Tech onboarding and access management</li>
          <li>Website development and maintenance</li>
          <li>Support other departments with their tech and integrations</li>
          <li>Become or work with the event’s stage and tech manager</li>
        </ul>
        <p>Ongoing time commitment:</p>
        <ul>
          <li>1-2 hours a week</li>
        </ul>
        <p>Conference-specific time commitment:</p>
        <ul>
          <li>2 hours on pre-rehearsal day</li>
          <li>3 hours on rehearsal day</li>
          <li>10 hours on the day of the event</li>
          <li>1-2 hours a week for one month after the event</li>
        </ul>
      </div>
    </section>

    <section>
      <div class="section-label section-label--header accent-border">
        <h2 class="section-title">Ready to sign up?</h2>
      </div>

      <div class="card accent-border">
        <p>Hope you've found something you’re interested in! Please tell us on the <a href="https://docs.google.com/forms/d/e/1FAIpQLScOdsnf_2OSsKP2GiGc5Q8e0DxE1-CqpWYAgr0YDZJF9qwRcQ/viewform?usp=sf_link">volunteer expression of interest form</a>.</p>
    </section>
  </main>
{% endblock %}
