---
tags: page
title: Volunteer for NZ Tech Rally 2025
description: Help us grow NZ software engineering community!
eleventyExcludeFromCollections: true
featuredImage: /assets/images/og-volunteer.png
featuredImageAlt: "Help is connect, support and grow NZ software engineers. We're looking for volounteers for our conference. NZ Tech Rally, 7th July, Wellington"
featuredImageType: png
featuredImageWidth: 1200
featuredImageHeight: 630
---
{% extends 'layouts/page-foundation.njk' %}

{% block pageHeader %}
  <h1 class="section-title">
    {{ title }}
  </h1>
{% endblock %}

{% block content %}
  <section>
    <div class="section-label accent-border">
      <h2 class="section-title">Our mission</h2>
    </div>
    <div class="text-indent">
      <p>
        Our mission is to provide inclusive spaces for the NZ software community to connect and grow together.
      </p>
      <p>
        When we said <em>spaces</em>, we’re not just talking about an annual volunteer run event. 
      </p>
      <p>
        We have big dreams beyond the annual flagship NZ Tech Rally conference. We want to run in a sustainable way which includes ongoing community building, paying people for their time, helping people get paid for their content/class/workshops, and etc.
      </p>
      <p>
        But this year, we’re bootstrapping; starting from zero. We will have to rely on different types of volunteers who are interested in our cause until we can get off the ground.
      </p>
    </div>
  </section>

  <section>
    <div class="section-label accent-border">
      <h2 class="section-title">What to expect as a one-day volunteer</h2>
    </div>

    <div class="section-label accent-border">
      <h3 class="section-title">Perks</h3>
    </div>

    <div class="text-indent">
      <p>For the time being, these are our volunteer perks: </p>
      <ul>
        <li>Our eternal gratitude</li>
        <li>Free entry to events you're involved in</li>
        <li>Experience managing ticketed events</li>
        <li>Experience managing and growing a software community</li>
        <li>A natural way of networking with industry experts, supporters, mentors, and top talents</li>
        <li>A chance to be a part of our longer-term vision and really know what we’re doing to get NZ Tech Rally there</li>
        <li>LinkedIn or other type of work reference; should you want one.</li>
      </ul>
    </div>

    <div class="section-label accent-border">
      <h3 class="section-title">Disadvantages</h3>
    </div>

    <div class="text-indent">
      <p>If those sound cool to you, we feel it’s only right to disclose things that are less-cool. </p>
      <ul>
        <li>You will not get to watch all the talks live or enjoy an event the way paying participants can. But don't worry, our talks are recorded.</li>
        <li>You will have to get up really early on the day of the event, as we need help with setup and pack down.</li>
        <li>When we say time commitment, we really mean it. We’ve estimated that these are the amount of time you need to put in to ensure the event’s success.</li>
      </ul>
    </div>
  </section>

  <section>

    <div class="text-indent">
      <p>
        <strong>One-day volunteer registration closed</strong>.</p>
      <p>Thank you for expressing an interest. We now have enough volunteers to run NZ Tech Rally 2025!</p>
      <p>If you're keen to help at a future event, subscribe to our newsletter.</p>
      {# <p>We need help ensuring that the event day run smoothly. This means 10-11 hours on the day of the event; starting from 7:00am at the venue.</p>
      <p>
        If we've approached you personally and know what you're helping us with, go straight to <a href="https://docs.google.com/forms/d/e/1FAIpQLSfIEBKP2Oozb5XVyIJD_VQCB1Iw37P5GX-QnBnniZZ6S7FNXA/viewform?usp=sf_link" rel="eternal">NZTR 2023 volunteer registration</a>. 
      </p>
      <p> 
        Otherwise, these are the specific roles we need help with on Friday 7th July 2023.
      </p>
    </div>

    {# <div class="section-label accent-border">
      <h3 class="section-title">Registration &amp; information</h3>
    </div>

    <div class="text-indent">
      <p>Recruiting 2 more volunteers.</p>
      <ul>
        <li>Manage the registration desk activities such has handing out lanyards to registered attendees</li>
        <li>Respond to general enquiries</li>
        <li>Manage main entrance to conference room. Ensure that no one can enter in the middle of a talk and disrupt stage activities.</li>
      </ul>
    </div>

    <div class="section-label accent-border">
      <h3 class="section-title">Catering</h3>
    </div>

    <div class="text-indent">
      <p>Recruiting 3 more volunteers.</p>
      <ul>
        <li>Arrange catering layout and food labelling on the day of the event</li>
        <li>Manage the coffee station</li>
        <li>Ensure that dietary requirements are met</li>
        <li>Manage the crowd by responding to food-related queries during morning tea, afternoon tea and lunch</li>
        <li>Pack up catering</li>
        <li>Facilitate after socials venue</li>
        <li>Submit catering-related expenses</li>
      </ul>
    </div>

    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfIEBKP2Oozb5XVyIJD_VQCB1Iw37P5GX-QnBnniZZ6S7FNXA/viewform?usp=sf_link" rel="external" class="button">Volunteer at NZ Tech Rally 2023 for one day</a> #}
    </section>

  {% endblock %}