---
tags: page
title: Digital accessibility workshop for the whole team by Maia Miller
speaker: Maia Miller
description: practical tour through WCAG, with hands-on activities and interactive demos tailored for all team roles. 
       Join us to create an actionable plan and transform your approach to digital design and development.
eleventyNavigation:
  key: Workshop
  order: 1
featuredImage: /assets/images/workshops/og-share_workshop_2024.png
featuredImageAlt: "NZ Tech Rally. Resilience of people, communities, and organisations in the Aotearoa software industry. Submit a talk to speak on 22nd November 2024 @ Tākina, Wellington"
featuredImageType: png
featuredImageWidth: 1200
featuredImageHeight: 630
---

{% extends 'layouts/page-foundation-long-form.njk' %}
{% from 'partials/card-profile.njk' import card %}

{%- css %}
{% include "css/components/card-profile.css" %}
{% include "css/components/profile-links.css" %}
{% endcss %}

{% block pageHeader %}
  <div class="title-block-text__primary">
    <h1 class="page-title">
      Digital accessibility workshop for the whole team
    </h1>
  </div>

  <p class="title-block-text__secondary">
    by {{ speaker }}
  </p>

  <p>
    On 21 November 2024
  </p>
{% endblock %}

{% block content %}
  <section class="columns columns-two-thirds">
    <div class="column-one">
      <div class="text-indent">
        <p>
          1 in 4 New Zealanders have a disability, yet only 3% of Kiwi organisations meet web accessibility standards.
        </p>
        <p>     
          Beyond being a moral imperative, web accessibility offers strategic advantages: 
          20% of organisations believe it can expand their customer base, and 63% say it enhances the digital experience 
          for all users. 
          Embedding accessibility leads to resilient code, better designs, and scalable products. 
        </p>
        <p>
        Our workshop provides a practical tour through WCAG, with hands-on activities and interactive demos tailored for all team roles. 
        Join us to create an actionable plan and transform your approach to digital design and development.
        </p>
      </div>
    </div>
  </section>

  <section class="columns columns-two-thirds">
    <div class="column-one">
      <div class="section-label accent-border">
        <h2 class="section-title">Who is this for?</h2>
      </div>

      <div class="text-indent">
        <p>
        Anyone who works in software delivery team including BAs, developers, UX designers, product owners/managers and QAs, etc.
      </p>
        <p>
        This workshop is ideal for organisations and individuals who are at the beginning of their accessibility journey, or who have explored web accessibility but are struggling to embed accessibility into their day-to-day work.
      </p>
      </div>
    </div>
  </section>

  <section class="columns columns-two-thirds">
    <div class="column-one">
      <div class="section-label accent-border">
        <h2 class="section-title">Key Takeaways</h2>
      </div>

      <div class="text-indent">
        <ol>
          <li>
            <p>
              <strong>Importance of web accessibility</strong><br>
            Understand what web accessibility is, and why it’s critical in the NZ context, and the advantages gained at a coding, design and organisational level.
          </p>
          </li>

          <li>
            <p>
              <strong>Comprehensive understanding of WCAG</strong><br>
            Gain practical knowledge of the Web Content Accessibility Guidelines (WCAG) in a mobile and web context.
          </p>
          </li>

          <li>
            <p>
              <strong>Role-specific accessibility strategies</strong><br>
            Learn actionable accessibility techniques tailored for BAs, developers, UX designers, product owners/managers, and QAs.
          </p>
          </li>

          <li>
            <p>
              <strong>Hands-on experience</strong><br>
            Participate in interactive demos and hands-on activities to reinforce your understanding and ability to implement accessibility practices.
          </p>
          </li>

          <li>
            <p>
              <strong>Collaborative action plan</strong><br>
            Develop a concrete, team-based action plan to seamlessly integrate accessibility into your workflow and projects.
          </p>
          </li>
        </ol>
      </div>
    </div>
  </section>

  <section>
    <div class="section-label accent-border">
      <h2 class="section-title" id="instructor">Your instructor</h2>
    </div>

    <div class="columns columns-two-thirds">
      <div class="column-one text-indent">
        <p>
          Maia is a seasoned public speaker known for her engaging and informative speaking style. With nearly two decades of experience connecting with audiences of all sizes, she combines her technical knowledge with a contagious enthusiasm for her subject matter, specialising in web accessibility.
        </p>

        <p> 
          Maia is an IAAP-certified web accessibility specialist and the Managing Director of the consultancy Aleph Accessibility. She has spoken at well-regarded conferences including UXNZ, Upstream Open Source Conference, nz.js(con) and Code Camp Wellington. 
        </p>

        <p>
          A frequent audience favourite, Maia always leaves a lasting impact with her practical and inspiring presentations. 
        </p>
      </div>

      <div class="column-two">
        <div class="card accent-border card-profile">
          <picture class="card-profile__picture">
            <img src="{{ '/assets/images/workshops/maia_miller.jpg' | url }}" alt="Maia has brown curly hair, green eyes and is smiling broadly at the camera.">
          </picture>

          <p class="card-profile__info">
            <span class="card-title card-profile__name">
              Maia Miller,
            </span>
            <span>Managing Director @ Aleph Accessibility </span>
          </p>
        </div>

        <ul class="profile-links">
          <li class="accent-border profile-link__item">
            <a class="profile-link" href="https://www.linkedin.com/in/maiamiller/" rel="external">
              LinkedIn
            </a>
          </li>
          <li class="accent-border profile-link__item">
            <a class="profile-link" href="https://www.alephaccessibility.net/resources" rel="external">
              Blog
            </a>
          </li>
        </ul>
      </div>
    </section>

    <section class="columns columns-two-thirds">
      <div class="column-one">
        <div class="section-label accent-border">
          <h2 class="section-title" id="logistics">Logistics</h2>
        </div>

        <div class="text-indent">
          <h3>Date:</h3>
          <p>
            Thursday, 21st November 2024
          </p>

          <h3>Venue:</h3>
          <p>
            <a rel="external" href="https://willeston.co.nz/location/">Willeston Conference Center</a>,<br>
            <a rel="external" href="https://maps.app.goo.gl/6MT5ZYKYrqRVShmN6">11/15 Willeston Street</a>, Wellington
          </p>

          <h3>What should I bring?</h3>
          <p>
            Please bring:
          <ul>
              <li>Your laptop</li>
              <li>Headphones/earbuds etc.</li>
              <li>A website/app you’re working on now, or have worked on recently. We’ll be testing it in the workshop! It can be live in prod, on a staging URL, or on your machine. If you can access it in a browser, we can test it.</li>
            </ul>
          </p>

          <h3>Is this workshop catered?</h3>
          <p>
            Lunch, morning tea, and afternoon tea is provided
          </p>

          <h3>Will this workshop be captioned?</h3>
          <p>
            Yes, we will use automated Google Meets captions and display it on one of the screens.<br>
            We will share a link to the call, so that you can also read the caption on your own device.  
          </p>
        </div>
      </div>
    </section>

    <section class="columns columns-two-thirds">
      <div class="column-one">
        <div class="section-label accent-border">
          <h2 class="section-title">Register for Maia's workshop today</h2>
        </div>

        <div class="text-indent">
          <p>
            $600 per standard ticket.
          </p>
          <p>
            <strong>Bulk discount:</strong> $50 off per ticket when purchasing for a group of four or more.
          </p>
          <p>
            <a class="button" rel="external" href="https://events.humanitix.com/nztechrally2024/tickets?c=nztrsite">Buy workshop ticket</a>
          </p>
        </div>
      </div>
    </section>
  {% endblock %}
