{% macro card(content, horizontal, type) %}
  <li class="card card-content-link accent-border {{ 'card-content-link--horizontal' if horizontal }}">
    {% if content.data.featuredImage %}
      <picture class="card-content-link__picture">
        <source srcset="{{ content.data.featuredImage }}" media="(orientation: portrait)">
        <img src="{{ content.data.featuredImage }}" alt="{{ content.data.featuredImageAlt }}">
      </picture>
    {% endif %}

    <p class="card-content-link__info">
      <a class="card-content-link__link" href="{{ content.url | url }}">
        <strong class="card-title card-content-link__name">
          {{ content.data.talkTitle }}
        </strong>

        {% if type === 'talk' %}
          <span>
            {{ content.data.event }}
          </span>
        {% endif %}

        {% if content.data.contentLength %}
          <span>
            {{ content.data.contentLength }}
            {{ type }}
          </span>
        {% endif %}
      </a>
    </p>
  </li>
{% endmacro %}