{% macro card(speaker) %}
  <li class="card accent-border profile-card profile-card--horizontal">
    <picture class="profile-card__picture">
      <source srcset="{{ speaker.data.profilePhoto }}" media="(orientation: portrait)">
      <img src="{{ speaker.data.profilePhoto }}" alt="{{ speaker.data.profilePhotoAltText }}">
    </picture>

    <p class="profile-card__info">
      <a class="profile-card__link" href="{{ speaker.url | url }}">
        <span class="card-title profile-card__name">
          {{ speaker.data.fullName }}
        </span>

        <span>
          {{ speaker.data.jobTitle }}
          {% if speaker.data.organisation %}
            @ {{ speaker.data.organisation }}
          {% endif %}
        </span>

        <strong>{{ speaker.data.talkTitle }}</strong>
      </a>
    </p>
  </li>
{% endmacro %}
