{% macro card(content, horizontal, hasAccent) %}
  <li class="card card-profile {{ 'accent-border' if hasAccent }} {{ 'card-profile--horizontal' if horizontal }}">
    <picture class="card-profile__picture">
      <source srcset="{{ content.data.profilePhoto }}" media="(orientation: portrait)">
      <img src="{{ content.data.profilePhoto }}" alt="{{ content.data.profilePhotoAltText }}">
    </picture>

    <p class="card-profile__info">
      <a class="card-profile__link" href="{{ content.url | url }}">
        <span class="card-title card-title--talk-name">
          {{ content.data.firstName }}
          {{ content.data.lastName }}
        </span>

        <span>
          {{ content.data.jobTitle }}
          {% if content.data.organisation %}
            @ {{ content.data.organisation }}
          {% endif %}
        </span>

        {% if content.data.talkTitle %}
          <strong>{{ content.data.talkTitle }}</strong>
        {% endif %}

        {% if content.data.role %}
          <strong>{{ content.data.role }}</strong>
        {% endif %}
      </a>
    </p>
  </li>
{% endmacro %}
