{% macro card(team) %}
  <li class="card accent-border profile-card profile-card--horizontal">
    <picture class="profile-card__picture">
      <source srcset="{{ team.data.profilePhoto }}" media="(orientation: portrait)">
      <img src="{{ team.data.profilePhoto }}" alt="{{ team.data.profilePhotoAltText }}">
    </picture>

    <p class="profile-card__info">
      <a class="profile-card__link" href="{{ team.url | url }}">
        <span class="card-title profile-card__name">
          {{ team.data.fullName }}
        </span>

        <span>
          {{ team.data.jobTitle }}
          {% if team.data.organisation %}
            @ {{ team.data.organisation }}
          {% endif %}
        </span>

        <strong>{{ team.data.role }}</strong>
      </a>
    </p>
  </li>
{% endmacro %}