{%- css %}
{% include "css/components/footer.css" %}
{% endcss %}

<footer class="page-footer">
  <ul class="footer-link-list" aria-label="Social links">
    <li class="footer-social__item">
      <a rel="external" href="{{ site.linkedin }}" class="footer-social__link">
        {% svg "linkedin" %}
        <span class="footer-social__text">Linkedin</span>
      </a>
    </li>

    <li class="footer-social__item">
      <a rel="external" href="{{ site.youtube }}" class="footer-social__link">
        {% svg "youtube" %}

        <span class="footer-social__text">
          Youtube
        </span>
      </a>
    </li>

    <li class="footer-social__item">
      <a rel="author" href="mailto:{{ site.email }}" class="footer-social__link">
        {% svg "email" %}

        <span class="footer-social__text">
          Email
        </span>
      </a>
    </li>
  </ul>

  <div class="footer-link-list">
    <nav aria-labelledby="FooterOtherpagesLabel">
      <p id="FooterOtherpagesLabel">Other useful pages:</p>
      <ul>
        <li>
          <a href="{{ '/volunteer' | url }}">Volunteer with us</a>
        </li>
        <li>
          <a href="{{ '/faq' | url }}">FAQ</a>
        </li>
        <li>
          <a href="{{ '/convince-your-manager' | url }}">Letter to convince your manager</a>
        </li>
        <li>
          <a href="https://github.com/NZTechRally/nztechrally.nz/issues" rel="external">Report bugs or submit PR</a>
        </li>
      </ul>
    </nav>

    <nav aria-labelledby="FooterPoliciesLabel">
      <p id="FooterPoliciesLabel">Our policies:</p>
      <ul>
        <li>
          <a href="{{ '/sales-policy' | url }}">Ticket sales policy</a>
        </li>
        <li>
          <a href="{{ '/code-of-conduct' | url }}">Code of conduct</a>
        </li>
        <li>
          <a href="{{ '/privacy-policy' | url }}">Privacy policy</a>
        </li>
      </ul>
    </nav>
  </div>

  <aside class="footnotes" aria-label="Site footnotes">
    <p>
      Last updated on <time datetime="{{ page.date | iso8601Date }}">{{ page.date | readableDate }}</time>.
    </p>
    <p>
      Copyright &copy; {{ page.date | readableYear }} by NZ Tech Rally. All rights reserved.
    </p>
  </aside>
</footer>