<nav aria-label="Main navigation">
  <ul class="global-navigation">
    {%- for entry in collections.all | eleventyNavigation %}
      <li class="global-navigation__item">
        <a 
          {% if entry.url == page.url %}
            aria-current="page"
          {% endif %} 
          class='global-navigation__link {{ "global-navigation__link--active" if entry.url == page.url }}'
          href="{{ entry.url | url }}"
        >
          {{ entry.title }}
        </a>
      </li>
    {%- endfor %}
  </ul>
</nav>