{%- css %}
{% include "css/components/global-nav.css" %}
{% include "css/components/hamburger.css" %}
{% endcss %}

<nav id="globalNavigation">
  <button 
    class="hamburger hamburger--slider"
    aria-controls="globalNavigation"
    aria-expanded="false"
    id="globalNavigationButton"
  >
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>

    <span class="visually-hidden">Site navigation</span>
  </button>

  <ul
    class="global-navigation"
    hidden
  >
    {%- for entry in collections.all | eleventyNavigation %}
      <li class="global-navigation__item">
        <a 
          {% if entry.url == page.url %}
            aria-current="page"
          {% endif %} 
          class='global-navigation__link {{ "accent-border" if entry.url == page.url }}'
          href="{{ entry.url | url }}"
        >
          {{ entry.title }}
        </a>
      </li>
    {%- endfor %}

    {# <li class="global-navigation__item">
      <a 
        class="global-navigation__link"
        href="{{ nztr2023.ticketUrl }}"
        rel="external"
      >
        Tickets
      </a>
    </li> #}
    <li class="global-navigation__item">
      <a 
        class="global-navigation__link track_NZTR2023Photos"
        href="{{ nztr2023.photos }}"
        rel="external"
      >
        Photos
      </a>
    </li>
  </ul>
</nav>