<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "url": "{{ site.url }}/about",
    "name": "{{ site.title }}",
    "description": "{{ site.description }}",
    "email": "{{ site.email }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.logo }}",
      "description": "{{ site.logoAlt }}",
      "width": "{{ site.logoWidth }}",
      "height": "{{ site.logoHeight }}"
    },
    "image": [
      {
        "@type": "ImageObject",
        "url": "{{ ogImage if ogImage else site.image }}",
        "description": "{{ ogImageAlt if ogImageAlt else site.imageAlt }}",
        "width": "{{ ogImageWidth if ogImageWidth else site.imageWidth }}",
        "height": "{{ ogImageHeight if ogImageHeight else site.imageHeight }}"
      }
    ],
    "event": {
      "@type": "Event",
      "name": "{{ site.title }} 2023",
      "url": "{{ site.url }}",
      "startDate": "{{ nztr2023.startDate }}",
      "endDate": "2023-07-07T17:00"
    }
  }
</script>