<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "url": "{{ page.url | absoluteUrl(site.url) }}",
    "name": "{{ firstName }} {{ lastName }}",
    "description": "{{ content }}",
    "affiliation": "NZ Tech Rally",
    "worksFor": "{{ organisation }}",
    "hasOccupation": "{{ jobTitle }}",
    "image": {
      "@type": "ImageObject",
      "url": "{{ profilePhoto | absoluteUrl(site.url) if featuredImage else site.image }}",
      "description": "{{ profilePhotoAltText }}",
      "width": "1024px",
      "height": "1024px"
    }
  }
</script>