"@type": "Event",
"url": "{{ site.url }}",
"name": "{{ EVENT_2025.title }}",
"description": "{{ EVENT_2025.description }}",
"startDate": "{{ EVENT_2025.startDate }}",
"endDate": "{{ EVENT_2025.endDate }}",
"eventAttendanceMode": "{{ EVENT_2025.eventAttendanceMode }}",
"eventStatus": "{{ EVENT_2025.eventStatus }}",
"maximumAttendeeCapacity": "{{ EVENT_2025.maximumAttendeeCapacity }}",
"remainingAttendeeCapacity": "{{ EVENT_2025.remainingAttendeeCapacity }}",
"location": {
  "@type": "Place",
  "name": "{{ EVENT_2025.location.name }}",
  "address": {
    "@type": "PostalAddress",
    "name": "{{ EVENT_2025.location.address.name }}",
    "streetAddress": "{{ EVENT_2025.location.address.streetAddress }}",
    "addressLocality": "{{ EVENT_2025.location.address.addressLocality }}",
    "postalCode": "{{ EVENT_2025.location.address.postalCode }}",
    "addressRegion": "{{ EVENT_2025.location.address.addressRegion }}",
    "addressCountry": "NZ"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": "{{ EVENT_2025.location.geo.latitude }}",
    "longitude": "{{ EVENT_2025.location.geo.longitude }}"
  }
},
"image": [
  {
    "@type": "ImageObject",
    "url": "{{ site.image }}",
    "description": "{{ site.imageAlt }}",
    "width": "{{ site.imageWidth }}",
    "height": "{{ site.imageHeight }}"
  }
],
"organizer": [
  {
    "@type": "Organization",
    "name": "{{ site.title }}",
    "url": "{{ '/about' | absoluteUrl(site.url) }}"
  }
],
"inLanguage": [
  {
    "@type": "Language",
    "name": "en-NZ"
  }
],
"translator": {
  "@type": "Organization",
  "name": "iSign",
  "url": "https://isign.co.nz/"
},
"offers": [
  {
    "@type": "Offer",
    "url": "{{ EVENT_2025.ticketUrl }}",
    "availability": "{{ EVENT_2025.ticketAvaiability }}",
    "validFrom": "{{ EVENT_2025.ticketEarlyBirdStarts }}",
    "validThrough": "{{ EVENT_2025.ticketEarlyBirdEnds }}",
    "price": "{{ EVENT_2025.ticketEarlyBirdPrice }}",
    "priceCurrency": "NZD"
  },
  {
    "@type": "Offer",
    "url": "{{ EVENT_2025.ticketUrl }}",
    "availability": "{{ EVENT_2025.ticketAvaiability }}",
    "validFrom": "{{ EVENT_2025.ticketSaleStarts }}",
    "validThrough": "{{ EVENT_2025.ticketSaleEnds}}",
    "price": "{{ EVENT_2025.ticketPrice }}",
    "priceCurrency": "NZD"
  }
],
"performer": [
  {
    "@type": "Person",
    "name": "Rowan Savage"
  },
  {
    "@type": "Person",
    "name": "Bron Thomson"
  },
  {
    "@type": "Person",
    "name": "Julia Bower"
  },
  {
    "@type": "Person",
    "name": "Nav Rao"
  },
  {
    "@type": "Person",
    "name": "Patricia Tan"
  },
  {
    "@type": "Person",
    "name": "Rod Acevedo"
  },
  {
    "@type": "Person",
    "name": "Ruth McDavitt"
  },
  {
    "@type": "Person",
    "name": "Maia Miller"
  },
  {
    "@type": "Person",
    "name": "Edward Taylor"
  }
],
"sponsor": [
  {
    "@type": "Organization",
    "name": "Numeral",
    "url": "https://numeral.nz/"
  },
  {
    "@type": "Organization",
    "name": "Serko",
    "url": "https://www.serko.com/"
  },
  {
    "@type": "Organization",
    "name": "Write",
    "url": "https://write.co.nz/"
  },
  {
    "@type": "Organization",
    "name": "Planit",
    "url": "https://www.planit.com/"
  },
  {
    "@type": "Organization",
    "name": "Runn",
    "url": "https://www.runn.io/careers"
  },
  {
    "@type": "Organization",
    "name": "PrivSec Consulting",
    "url": "https://www.privsec.nz/"
  }
]
