"@type": "Event",
"url": "{{ site.url }}",
"name": "{{ nztr2024.title }}",
"description": "{{ nztr2024.description }}",
"startDate": "{{ nztr2024.startDate }}",
"endDate": "{{ nztr2024.endDate }}",
"eventAttendanceMode": "{{ nztr2024.eventAttendanceMode }}",
"eventStatus": "{{ nztr2024.eventStatus }}",
"maximumAttendeeCapacity": "{{ nztr2024.maximumAttendeeCapacity }}",
"remainingAttendeeCapacity": "{{ nztr2024.remainingAttendeeCapacity }}",
"location": {
  "@type": "Place",
  "name": "{{ nztr2024.location.name }}",
  "address": {
    "@type": "PostalAddress",
    "name": "{{ nztr2024.location.address.name }}",
    "streetAddress": "{{ nztr2024.location.address.streetAddress }}",
    "addressLocality": "{{ nztr2024.location.address.addressLocality }}",
    "postalCode": "{{ nztr2024.location.address.postalCode }}",
    "addressRegion": "{{ nztr2024.location.address.addressRegion }}",
    "addressCountry": "NZ"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": "{{ nztr2024.location.geo.latitude }}",
    "longitude": "{{ nztr2024.location.geo.longitude }}"
  }
},
"image": [
  {
    "@type": "ImageObject",
    "url": "{{ site.image }}",
    "description": "{{ site.imageAlt }}",
    "width": "{{ site.imageWidth }}",
    "height": "{{ site.imageHeight }}"
  }
],
"organizer": [
  {
    "@type": "Organization",
    "name": "{{ site.title }}",
    "url": "{{ '/about' | absoluteUrl(site.url) }}"
  }
],
"inLanguage": [
  {
    "@type": "Language",
    "name": "en-NZ"
  }
],
"translator": {
  "@type": "Organization",
  "name": "iSign",
  "url": "https://isign.co.nz/"
},
"offers": [
  {
    "@type": "Offer",
    "url": "{{ nztr2024.ticketUrl }}",
    "availability": "{{ nztr2024.ticketAvaiability }}",
    "validFrom": "{{ nztr2024.ticketEarlyBirdStarts }}",
    "validThrough": "{{ nztr2024.ticketEarlyBirdEnds }}",
    "price": "{{ nztr2024.ticketEarlyBirdPrice }}",
    "priceCurrency": "NZD"
  },
  {
    "@type": "Offer",
    "url": "{{ nztr2024.ticketUrl }}",
    "availability": "{{ nztr2024.ticketAvaiability }}",
    "validFrom": "{{ nztr2024.ticketSaleStarts }}",
    "validThrough": "{{ nztr2024.ticketSaleEnds}}",
    "price": "{{ nztr2024.ticketPrice }}",
    "priceCurrency": "NZD"
  }
],
"performer": [
  {
    "@type": "Person",
    "name": "Rowan Savage"
  },
  {
    "@type": "Person",
    "name": "Bron Thomson"
  },
  {
    "@type": "Person",
    "name": "Julia Bower"
  },
  {
    "@type": "Person",
    "name": "Nav Rao"
  },
  {
    "@type": "Person",
    "name": "Patricia Tan"
  },
  {
    "@type": "Person",
    "name": "Rod Acevedo"
  },
  {
    "@type": "Person",
    "name": "Ruth McDavitt"
  }
],
"sponsor": [
  {
    "@type": "Organization",
    "name": "Numeral",
    "url": "https://numeral.nz/"
  },
  {
    "@type": "Organization",
    "name": "Serko",
    "url": "https://www.serko.com/"
  },
  {
    "@type": "Organization",
    "name": "Write",
    "url": "https://write.co.nz/"
  },
  {
    "@type": "Organization",
    "name": "Runn",
    "url": "https://www.runn.io/careers"
  }
]
