<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "url": "{{ '/about' | absoluteUrl(site.url) }}",
    "name": "{{ title + " – " + site.title if title else site.title }}",
    "description": "{{ description if description else site.description }}",
    "email": "{{ site.email }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.logo }}",
      "description": "{{ site.logoAlt }}",
      "width": "{{ site.logoWidth }}",
      "height": "{{ site.logoHeight }}"
    },
    "image": {
      "@type": "ImageObject",
      "url": "{{ featuredImage | absoluteUrl(site.url) if featuredImage else site.image }}",
      "description": "{{ featuredImageAlt if featuredImageAlt else site.imageAlt }}",
      "width": "{{ featuredImageWidth if featuredImageWidth else site.imageWidth }}",
      "height": "{{ featuredImageHeight if featuredImageHeight else site.imageHeight }}"
    },
    "event": {
      {%- include 'partials/schema-nztr2023.njk' -%}
    }
  }
}
</script>
