<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Event",
    "url": "{{ page.url | absoluteUrl(site.url) }}",
    "name": "{{ talkTitle }} by {{ title }}",
    "description": "{{ talkExcerpt }}",
    "startDate": "{{ talkStartTime }}",
    "endDate": "{{ talkEndTime }}",
    "image": {
      "@type": "ImageObject",
      "url": "{{ featuredImage | absoluteUrl(site.url) if featuredImage else site.image }}",
      "description": "{{ featuredImageAlt if featuredImageAlt else site.imageAlt }}",
      "width": "{{ featuredImageWidth if featuredImageWidth else site.imageWidth }}",
      "height": "{{ featuredImageHeight if featuredImageHeight else site.imageHeight }}"
    },
    "performer": {
      "@type": "Person",
      "name": "{{ firstName }} {{ lastName }}"
    },
    "location": {
      "@type": "Place",
      "name": "{{ nztr2024.location.name }}",
      "address": {
        "@type": "PostalAddress",
        "name": "{{ nztr2024.location.address.name }}",
        "streetAddress": "{{ nztr2024.location.address.streetAddress }}",
        "addressLocality": "{{ nztr2024.location.address.addressLocality }}",
        "postalCode": "{{ nztr2024.location.address.postalCode }}",
        "addressRegion": "{{ nztr2024.location.address.addressRegion }}",
        "addressCountry": "NZ"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": "{{ nztr2024.location.geo.latitude }}",
        "longitude": "{{ nztr2024.location.geo.longitude }}"
      }
    },
    "superEvent": {
      {%- include 'partials/schema.njk' -%}
    }
  }
</script>