{% if excludeSponsors != true %}
  {%- css %}
  {% include "css/components/sponsors.css" %}
  {% endcss %}

  <section class="section section-colour content-wrapper u-padding-top-large">
    <div class="section-label accent-border">
      <h2 class="section-title">
        Sponsors
      </h2>
    </div>

    <div class="text-indent">
      <p>
        Thank you to our amazing sponsors. We wouldn’t be able to do it without you!
      </p>

      <h3 class="sponsorship-level-heading">Platinum</h3>

      <div class="sponsors-list">
        <div class="sponsor-list-item sponsor-list-item-large">
          <a class="sponsor-list-item-link" rel="external" href="https://numeral.nz/">
            <img src="{{ '/assets/images/sponsors/numeral-logo.png' | url }}" alt="Numeral" />
          </a>
        </div>
      </div>
    </div>

    <div class="text-indent">
      <h3 class="sponsorship-level-heading">Gold</h3>

      <ul class="sponsors-list">
        <li class="sponsor-list-item sponsor-list-item-medium">
          <a class="sponsor-list-item-link" rel="external" href="https://www.serko.com/">
            <img src="{{ '/assets/images/sponsors/serko-logo.png' | url }}" alt="Serko" />
          </a>
        </li>

        <li class="sponsor-list-item sponsor-list-item-medium">
          <a class="sponsor-list-item-link" rel="external" href="https://write.co.nz/">
            <img src="{{ '/assets/images/sponsors/write-logo.png' | url }}" alt="Write" />
          </a>
        </li>

        <li class="sponsor-list-item sponsor-list-item-medium">
          <a class="sponsor-list-item-link" rel="external" href="https://www.planit.com/">
            <img src="{{ '/assets/images/sponsors/planit-logo.png' | url }}" alt="Planit - an NRI company" />
          </a>
        </li>
      </ul>
    </div>

    <div class="text-indent">
      <h3 class="sponsorship-level-heading">Silver</h3>

      <ul class="sponsors-list">
        <li class="sponsor-list-item">
          <a class="sponsor-list-item-link" rel="external" href="https://www.runn.io/careers">
            <img src="{{ '/assets/images/sponsors/runn-logo.png' | url }}" alt="Runn" />
          </a>
        </li>

        <li class="sponsor-list-item">
          <a class="sponsor-list-item-link" rel="external" href="https://www.privsec.nz/">
            <img src="{{ '/assets/images/sponsors/privsec-logo.png' | url }}" alt="PrivSec Consulting" />
          </a>
        </li>
      </ul>
    </div>

    {#
    {% if title != 'Sponsor' %}
      <div class="text-indent sponsorship-cta">
        <p>
          We're looking for more sponsors to support our events this year.
        </p>
        <p>
          <a class="button" href ="{{ '/sponsor' | url }}">See our sponsorship packages</a>
        </p>
      </div>
    {% endif %}

  #}
  </section>
{% endif %}